
.intelliFlight-icon {
	background-image: url('../styles/png/intelliFlight-icon.png');
	background-repeat: no-repeat;
}

.intelliFlight-light {
	background-image: url('../styles/png/intelliFlight-light.png');
	background-repeat: no-repeat;
}

.intelliMovie-icon {
	background-image: url('../styles/png/intelliMovie-icon.png');
	background-repeat: no-repeat;
}

.intelliTrip-arrow {
	background-image: url('../styles/png/intelliTrip-arrow.png');
	background-repeat: no-repeat;
}

.intelliTrip-bike {
	background-image: url('../styles/png/intelliTrip-bike.png');
	background-repeat: no-repeat;
}

.intelliTrip-bike-active {
	background-image: url('../styles/png/intelliTrip-bike-active.png');
	background-repeat: no-repeat;
}

.intelliTrip-drive {
	background-image: url('../styles/png/intelliTrip-drive.png');
	background-repeat: no-repeat;
}

.intelliTrip-drive-active {
	background-image: url('../styles/png/intelliTrip-drive-active.png');
	background-repeat: no-repeat;
}

.intelliTrip-icon {
	background-image: url('../styles/png/intelliTrip-icon.png');
	background-repeat: no-repeat;
}

.intelliTrip-light {
	background-image: url('../styles/png/intelliTrip-light.png');
	background-repeat: no-repeat;
}

.intelliTrip-transit {
	background-image: url('../styles/png/intelliTrip-transit.png');
	background-repeat: no-repeat;
}

.intelliTrip-transit-active {
	background-image: url('../styles/png/intelliTrip-transit-active.png');
	background-repeat: no-repeat;
}

.intelliTrip-walk {
	background-image: url('../styles/png/intelliTrip-walk.png');
	background-repeat: no-repeat;
}

.intelliTrip-walk-active {
	background-image: url('../styles/png/intelliTrip-walk-active.png');
	background-repeat: no-repeat;
}

.action-camera {
	background-image: url('../styles/png/action-camera.png');
	background-repeat: no-repeat;
}

.action-chat {
	background-image: url('../styles/png/action-chat.png');
	background-repeat: no-repeat;
}

.action-contact {
	background-image: url('../styles/png/action-contact.png');
	background-repeat: no-repeat;
}

.action-delete {
	background-image: url('../styles/png/action-delete.png');
	background-repeat: no-repeat;
}

.action-device {
	background-image: url('../styles/png/action-device.png');
	background-repeat: no-repeat;
}

.action-edit {
	background-image: url('../styles/png/action-edit.png');
	background-repeat: no-repeat;
}

.action-gg {
	background-image: url('../styles/png/action-gg.png');
	background-repeat: no-repeat;
}

.action-map {
	background-image: url('../styles/png/action-map.png');
	background-repeat: no-repeat;
}

.action-memories {
	background-image: url('../styles/png/action-memories.png');
	background-repeat: no-repeat;
}

.action-password {
	background-image: url('../styles/png/action-password.png');
	background-repeat: no-repeat;
}

.action-recall {
	background-image: url('../styles/png/action-recall.png');
	background-repeat: no-repeat;
}

.action-recall-light {
	background-image: url('../styles/png/action-recall-light.png');
	background-repeat: no-repeat;
}

.action-scanner {
	background-image: url('../styles/png/action-scanner.png');
	background-repeat: no-repeat;
}

.action-share {
	background-image: url('../styles/png/action-share.png');
	background-repeat: no-repeat;
}

.action-signout {
	background-image: url('../styles/png/action-signout.png');
	background-repeat: no-repeat;
}

.archive-Chat {
	background-image: url('../styles/png/archive-Chat.png');
	background-repeat: no-repeat;
}

.archive-Events {
	background-image: url('../styles/png/archive-Events.png');
	background-repeat: no-repeat;
}

.archive-Links {
	background-image: url('../styles/png/archive-Links.png');
	background-repeat: no-repeat;
}

.archive-Photos {
	background-image: url('../styles/png/archive-Photos.png');
	background-repeat: no-repeat;
}

.chat-camera {
	background-image: url('../styles/png/chat-camera.png');
	background-repeat: no-repeat;
}

.chat-content-corner {
	background-image: url('../styles/png/chat-content-corner.png');
	background-repeat: no-repeat;
}

.chat-photo {
	background-image: url('../styles/png/chat-photo.png');
	background-repeat: no-repeat;
}

.chat-places {
	background-image: url('../styles/png/chat-places.png');
	background-repeat: no-repeat;
}

.chat-smart {
	background-image: url('../styles/png/chat-smart.png');
	background-repeat: no-repeat;
}

.chat-sound {
	background-image: url('../styles/png/chat-sound.png');
	background-repeat: no-repeat;
}

.check-in {
	background-image: url('../styles/png/check-in.png');
	background-repeat: no-repeat;
}

.checkin-invisible {
	background-image: url('../styles/png/checkin-invisible.png');
	background-repeat: no-repeat;
}

.close {
	background-image: url('../styles/png/close.png');
	background-repeat: no-repeat;
}

.close-white {
	background-image: url('../styles/png/close-white.png');
	background-repeat: no-repeat;
}

.contact-call {
	background-image: url('../styles/png/contact-call.png');
	background-repeat: no-repeat;
}

.contact-ghostMail {
	background-image: url('../styles/png/contact-ghostMail.png');
	background-repeat: no-repeat;
}

.contact-invite {
	background-image: url('../styles/png/contact-invite.png');
	background-repeat: no-repeat;
}

.contact-privateChat {
	background-image: url('../styles/png/contact-privateChat.png');
	background-repeat: no-repeat;
}

.contact-sms {
	background-image: url('../styles/png/contact-sms.png');
	background-repeat: no-repeat;
}

.contacts {
	background-image: url('../styles/png/contacts.png');
	background-repeat: no-repeat;
}

.decline-icon {
	background-image: url('../styles/png/decline-icon.png');
	background-repeat: no-repeat;
}

.edit-chat {
	background-image: url('../styles/png/edit-chat.png');
	background-repeat: no-repeat;
}

.emoji-activity {
	background-image: url('../styles/png/emoji-activity.png');
	background-repeat: no-repeat;
}

.emoji-flags {
	background-image: url('../styles/png/emoji-flags.png');
	background-repeat: no-repeat;
}

.emoji-food {
	background-image: url('../styles/png/emoji-food.png');
	background-repeat: no-repeat;
}

.emoji-nature {
	background-image: url('../styles/png/emoji-nature.png');
	background-repeat: no-repeat;
}

.emoji-objects {
	background-image: url('../styles/png/emoji-objects.png');
	background-repeat: no-repeat;
}

.emoji-people {
	background-image: url('../styles/png/emoji-people.png');
	background-repeat: no-repeat;
}

.emoji-symbols {
	background-image: url('../styles/png/emoji-symbols.png');
	background-repeat: no-repeat;
}

.emoji-travel {
	background-image: url('../styles/png/emoji-travel.png');
	background-repeat: no-repeat;
}

.empty-archive {
	background-image: url('../styles/png/empty-archive.png');
	background-repeat: no-repeat;
}

.empty-chat {
	background-image: url('../styles/png/empty-chat.png');
	background-repeat: no-repeat;
}

.empty-contacts {
	background-image: url('../styles/png/empty-contacts.png');
	background-repeat: no-repeat;
}

.empty-gallery {
	background-image: url('../styles/png/empty-gallery.png');
	background-repeat: no-repeat;
}

.empty-home {
	background-image: url('../styles/png/empty-home.png');
	background-repeat: no-repeat;
}

.empty-places {
	background-image: url('../styles/png/empty-places.png');
	background-repeat: no-repeat;
}

.empty-places-nearby {
	background-image: url('../styles/png/empty-places-nearby.png');
	background-repeat: no-repeat;
}

.event {
	background-image: url('../styles/png/event.png');
	background-repeat: no-repeat;
}

.fandango-logo {
	background-image: url('../styles/png/fandango-logo.png');
	background-repeat: no-repeat;
}

.flag {
	background-image: url('../styles/png/flag.png');
	background-repeat: no-repeat;
}

.gallery-all {
	background-image: url('../styles/png/gallery-all.png');
	background-repeat: no-repeat;
}

.gallery-grid {
	background-image: url('../styles/png/gallery-grid.png');
	background-repeat: no-repeat;
}

.gallery-grid-1 {
	background-image: url('../styles/png/gallery-grid-1.png');
	background-repeat: no-repeat;
}

.gallery-grid-2 {
	background-image: url('../styles/png/gallery-grid-2.png');
	background-repeat: no-repeat;
}

.gallery-grid-3 {
	background-image: url('../styles/png/gallery-grid-3.png');
	background-repeat: no-repeat;
}

.gallery-list {
	background-image: url('../styles/png/gallery-list.png');
	background-repeat: no-repeat;
}

.gallery-photos {
	background-image: url('../styles/png/gallery-photos.png');
	background-repeat: no-repeat;
}

.gg-family {
	background-image: url('../styles/png/gg-family.png');
	background-repeat: no-repeat;
}

.gg-fire {
	background-image: url('../styles/png/gg-fire.png');
	background-repeat: no-repeat;
}

.gg-ice {
	background-image: url('../styles/png/gg-ice.png');
	background-repeat: no-repeat;
}

.gg-local {
	background-image: url('../styles/png/gg-local.png');
	background-repeat: no-repeat;
}

.gg-medical {
	background-image: url('../styles/png/gg-medical.png');
	background-repeat: no-repeat;
}

.gg-missing-file {
	background-image: url('../styles/png/gg-missing-file.png');
	background-repeat: no-repeat;
}

.gg-police {
	background-image: url('../styles/png/gg-police.png');
	background-repeat: no-repeat;
}

.gg-rated-g {
	background-image: url('../styles/png/gg-rated-g.png');
	background-repeat: no-repeat;
}

.gg-rated-g-dark {
	background-image: url('../styles/png/gg-rated-g-dark.png');
	background-repeat: no-repeat;
}

.gg-rated-nc17 {
	background-image: url('../styles/png/gg-rated-nc17.png');
	background-repeat: no-repeat;
}

.gg-rated-nc17-dark {
	background-image: url('../styles/png/gg-rated-nc17-dark.png');
	background-repeat: no-repeat;
}

.gg-rated-pg {
	background-image: url('../styles/png/gg-rated-pg.png');
	background-repeat: no-repeat;
}

.gg-rated-pg13 {
	background-image: url('../styles/png/gg-rated-pg13.png');
	background-repeat: no-repeat;
}

.gg-rated-pg13-dark {
	background-image: url('../styles/png/gg-rated-pg13-dark.png');
	background-repeat: no-repeat;
}

.gg-rated-pg-dark {
	background-image: url('../styles/png/gg-rated-pg-dark.png');
	background-repeat: no-repeat;
}

.gg-rated-r {
	background-image: url('../styles/png/gg-rated-r.png');
	background-repeat: no-repeat;
}

.gg-rated-r-dark {
	background-image: url('../styles/png/gg-rated-r-dark.png');
	background-repeat: no-repeat;
}

.gg-roadside {
	background-image: url('../styles/png/gg-roadside.png');
	background-repeat: no-repeat;
}

.gg-verified {
	background-image: url('../styles/png/gg-verified.png');
	background-repeat: no-repeat;
}

.gradient-1 {
	background-image: url('../styles/png/gradient-1.png');
	background-repeat: no-repeat;
}

.grid-1 {
	background-image: url('../styles/png/grid-1.png');
	background-repeat: no-repeat;
}

.grid-2 {
	background-image: url('../styles/png/grid-2.png');
	background-repeat: no-repeat;
}

.grid-3 {
	background-image: url('../styles/png/grid-3.png');
	background-repeat: no-repeat;
}

.group-icon {
	background-image: url('../styles/png/group-icon.png');
	background-repeat: no-repeat;
}

.help {
	background-image: url('../styles/png/help.png');
	background-repeat: no-repeat;
}

.icon-access {
	background-image: url('../styles/png/icon-access.png');
	background-repeat: no-repeat;
}

.icon-account {
	background-image: url('../styles/png/icon-account.png');
	background-repeat: no-repeat;
}

.icon-alert {
	background-image: url('../styles/png/icon-alert.png');
	background-repeat: no-repeat;
}

.icon-alert-light {
	background-image: url('../styles/png/icon-alert-light.png');
	background-repeat: no-repeat;
}

.icon-arrow-right {
	background-image: url('../styles/png/icon-arrow-right.png');
	background-repeat: no-repeat;
}

.icon-arrow-right-active {
	background-image: url('../styles/png/icon-arrow-right-active.png');
	background-repeat: no-repeat;
}

.icon-arrow-right-light {
	background-image: url('../styles/png/icon-arrow-right-light.png');
	background-repeat: no-repeat;
}

.icon-at {
	background-image: url('../styles/png/icon-at.png');
	background-repeat: no-repeat;
}

.icon-autoCheckin {
	background-image: url('../styles/png/icon-autoCheckin.png');
	background-repeat: no-repeat;
}

.icon-bk {
	background-image: url('../styles/png/icon-bk.png');
	background-repeat: no-repeat;
}

.icon-block {
	background-image: url('../styles/png/icon-block.png');
	background-repeat: no-repeat;
}

.icon-bold {
	background-image: url('../styles/png/icon-bold.png');
	background-repeat: no-repeat;
}

.icon-camera {
	background-image: url('../styles/png/icon-camera.png');
	background-repeat: no-repeat;
}

.icon-camera-active {
	background-image: url('../styles/png/icon-camera-active.png');
	background-repeat: no-repeat;
}

.icon-camera-dark {
	background-image: url('../styles/png/icon-camera-dark.png');
	background-repeat: no-repeat;
}

.icon-Chat {
	background-image: url('../styles/png/icon-Chat.png');
	background-repeat: no-repeat;
}

.icon-chat-active {
	background-image: url('../styles/png/icon-chat-active.png');
	background-repeat: no-repeat;
}

.icon-chat-light {
	background-image: url('../styles/png/icon-chat-light.png');
	background-repeat: no-repeat;
}

.icon-checked-active {
	background-image: url('../styles/png/icon-checked-active.png');
	background-repeat: no-repeat;
}

.icon-checkin {
	background-image: url('../styles/png/icon-checkin.png');
	background-repeat: no-repeat;
}

.icon-checkin-active {
	background-image: url('../styles/png/icon-checkin-active.png');
	background-repeat: no-repeat;
}

.icon-checkout {
	background-image: url('../styles/png/icon-checkout.png');
	background-repeat: no-repeat;
}

.icon-checkout-active {
	background-image: url('../styles/png/icon-checkout-active.png');
	background-repeat: no-repeat;
}

.icon-checkout-light {
	background-image: url('../styles/png/icon-checkout-light.png');
	background-repeat: no-repeat;
}

.icon-contact {
	background-image: url('../styles/png/icon-contact.png');
	background-repeat: no-repeat;
}

.icon-contact-active {
	background-image: url('../styles/png/icon-contact-active.png');
	background-repeat: no-repeat;
}

.emoji-activity {
	background-image: url('../styles/png/emoji-activity.png');
	background-repeat: no-repeat;
}

.emoji-flags {
	background-image: url('../styles/png/emoji-flags.png');
	background-repeat: no-repeat;
}

.emoji-food {
	background-image: url('../styles/png/emoji-food.png');
	background-repeat: no-repeat;
}

.emoji-nature {
	background-image: url('../styles/png/emoji-nature.png');
	background-repeat: no-repeat;
}

.emoji-objects {
	background-image: url('../styles/png/emoji-objects.png');
	background-repeat: no-repeat;
}

.emoji-people {
	background-image: url('../styles/png/emoji-people.png');
	background-repeat: no-repeat;
}

.emoji-symbols {
	background-image: url('../styles/png/emoji-symbols.png');
	background-repeat: no-repeat;
}

.emoji-travel {
	background-image: url('../styles/png/emoji-travel.png');
	background-repeat: no-repeat;
}