*/bin
*/obj
*.user-settings.xml
ghostgram hybrid/.ab
ghostgram hybrid/styles/main.css
ghostgram hybrid/App_Resources/Android/drawable-nodpi/splashscreen.9.png

ghostgram hybrid/styles/master.css
lesswatch.bat
lesswatch - Shortcut.lnk
