*/bin
*/obj
*.ipa
*.apk
*.ab
*.user-settings.xml

lesswatch.bat
lesswatch - Shortcut.lnk

.idea
config.codekit
node_modules
.gitignore
.bowerrc


intelligram/bower_components/emojione/assets/png
intelligram/bower_components/emojione/assets/png_128x128
intelligram/bower_components/emojione/assets/png_512x512
intelligram/bower_components/emojione/assets/sprites/emojione.sprites.svg
intelligram/bower_components/emojione/lib/android
intelligram/bower_components/emojione/lib/emojione-awesome
intelligram/bower_components/emojione/lib/ios
intelligram/bower_components/emojione/lib/meteor
intelligram/bower_components/emojione/lib/python
intelligram/bower_components/emojione/assets/other
intelligram/bower_components/emojione/assets/svg

