<div data-role="view" data-title="Contacts" id="contacts" data-layout="main" data-model="contactModel" data-init="contactsView.onInit" data-show="contactsView.onShow" data-hide="contactsView.onHide" style="display: none;">
		<a class="hidden btnClear topSearchReferral" data-role="button" data-click="contactsView.searchDeviceContacts" id="btnSearchDeviceContacts">
			<img src="images/contacts.svg" /> 
			Search device for "<span id="btnSearchDeviceName"></span>"
		</a>
		<div id="contactListDiv" style="padding-bottom: 24px;">
	        <ul id="contacts-listview"></ul>
			<!-- Only display if device permission is needed -->
			<div id="deviceContactPermission" class="pad center hidden">

				<a class="btnClear">
					<img src="images/import.svg" height="16" />
						Find contacts on device
				</a>
			</div>
			<div class="emptyState hidden">
         		<img src="images/empty-contacts.svg" />
         	</div>
	    </div>
</div>

<!-- Import Contacts -->
<div data-role="view" data-title="Import Contacts" id="contactImport"  data-model="contactModel" data-init="contactImportView.onInit" data-show="contactImportView.onShow" data-hide="contactImportView.onHide" style="display: none;">
    <div data-role="header">
        <div data-role="navbar">
           <a data-role="button" data-align="left" href="#:back"><img src="images/nav-back.svg" /></a>
			<span data-role="view-title"></span>
        </div>
    </div>
       
    <div style="padding-bottom: 24px;">
    	<div class="tempSearchBox">
	 		<div class="appendSearch">
				<span class="searchIcon"><img src="images/search.svg" /></span>
				<input type="text" class="doubleAppendSearch gg_mainSearchInput" placeholder="" />
				<span class="enterSearch hidden"><a class="btnClear-grey"><img class="icon-sm" src="images/close.svg" /></a></span>
			</div>
		</div>
    	<div id="contactImport-noResults" class="hidden">No results found</div>
        <ul id="contactimport-listview"></ul>
    </div>    
</div>

<!-- Modal add contact -->
<div data-role="modalview" data-model="contactModel" data-title="Add Contact" id="modalview-AddContact" data-init="addContactView.doInit" class="appearance" style="width: 90%; min-height: 100%; display: none;">
    <div class="appBox">
    	<div class="inviteTop hidden">
    		<img src="images/invite.svg" height="16" />
    	</div>
    	<span class="right closeBox">
    		<a data-role="button" data-click="closeAddContact">
    			<img src="images/close.svg"/>
    		</a>
    	</span>
    	
    	<div class="topHalf">
    		<div class="topHalfLeft">
    			<img class="circle-img-lg shadow" id="addContactPhoto" src="images/ghostgramcontact.png" />
    		</div>
    		<div class="topHalfRight">
				<div>
					<input class="input-text-md" id="addContactName" type="search" placeholder="Contact full name"/>
				</div>
				<div>
    				<span class="caption">aka</span>
                	<input class="input-text-sm " id="addContactAlias" type="search" placeholder="Add a nickname"/>
    			</div>
				<div>
					<input class="input-text-md" id="addContactGroup" type="search" placeholder="Add Group (optional)"/>
				</div>
    		</div>
    	</div>
    	<div class="clearfix"></div>
    	<ul data-role="listview" data-style="inset" class="inviteContactInfo">
    		<li>           
                <label>Phone
                	<div class="select-lg">
	                    <select id="addContactPhone" 
	                            data-text-field="number" 
	                            data-value-field="number"
	                            data-bind="source: phoneDS"
	                            auto-bind="false">
	                    </select>
	                </div>
                </label>
            </li>
            <li>
                <label>Email
                	<div class="select-lg">
	                     <select id="addContactEmail" 
	                            data-text-field="address" 
	                            data-value-field="address"
	                            data-bind="source: emailDS"
	                           	auto-bind="false">
	                    </select>
	                </div>
                </label>
            </li>
            <li>
                <label>Address
                	<div class="select-lg">
	                     <select id="addContactAddress"
	                            data-text-field="address" 
	                            data-value-field="address"
	                            data-bind="source: addressDS"
	                           	auto-bind="false">
	                    </select>
	                </div>
                </label>
            </li>
    	</ul>
	</div>
	<div class="footer" data-role="footer">
	    	<a class="btnPrimary btnFull-modal" data-role="button" data-click="addContactView.addContact" id="addContacViewAddButton">Add Contact</a>
	    </div>
</div>

<!-- Edit Contacts -->
<div data-role="view" data-model="editContactView._activeContact" data-title="Edit Contact" id="editContact"  data-transition="slide" data-show="editContactView.onShow" data-init="editContactView.onInit" class="appearance" style="display: none;">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-click="editContactView.onDone" data-align="left" >Done</a>
        </div>
    </div>

    <div style="padding-bottom: 12px;">
		<form>
			<div class="topHalf">
	    		<div class="topHalfLeft">
	    			<img class="circle-img-lg shadow" data-bind="attr:{src: photo}" />
	    		</div>
	    		<div class="contactImg">
	    			<label for="editContactName">
	    				<input class="input-text-lg" type="text" id="editContactName" data-bind="value: name"/>
	    			</label>
					<div>
						<span class="caption">aka</span>
						<span>
							<input style="width: 75%;" type="search" placeholder="Add a nickname" id="editContactAlias" data-bind="value: alias"/>
						</span>
					</div>
	    			<div>
						<span class="caption">Group</span>
						<span>
							<input style="width: 75%;" type="search" placeholder="Add a Group" id="editContactGroup" data-bind="value: group"/>
						</span>
					</div>
	    		</div>
	    	</div>
	    	<div class="clearfix"></div>
			
			<ul data-role="listview" data-style="inset" id="contactEditList">				 
				<li>           
					<label>Phone
						<span class="helper helper-verified hidden" id="edit-verified-phone">
	                         <img class="helper-verified-img" src="images/verified.svg" height="14"> 
	                             Verified
	                    	<span class="helper helper-right helper-form"> <img src="images/lock.svg"/> Locked
	                    	</span>
                        </span>
						
						<input id="editContactPhone" type="phone" data-bind="value:phone"/>
					</label>
				</li>
				<li>
					<label>Email
						<span class="helper helper-verified hidden" id="edit-verified-email">
	                         <img class="helper-verified-img" src="images/verified.svg" height="14"> 
	                             Verified
		                    <span class="helper helper-right helper-form">
		                    	<img class="helper-img" src="images/lock.svg"/> Locked
		                    </span>
                        </span>
						
						 <input id="editContactEmail" type="email" data-bind="value: email"/>

					</label>
				</li>
				 <li>
					<label>Address
						 <input id="editContactAddress" data-bind="value: address"/>
					</label>
				</li>
			</ul>
			

    		<div class="edit-contacts-options">
				<!--<a data-role="button" class="btnClear-grey" id="editContact-resyncBtn" data-click="editContactView.syncWithParse">
					<img src="images/ghost-sm.svg" />  Refresh Contact
				</a>-->
				<a data-role="button" class="btnClear-grey" id="editContact-resyncDeviceBtn" data-click="editContactView.syncWithDevice">
					<img src="images/icon-sync.svg" class="icon-sm" />  Sync Contact with Device
				</a>
				<a data-role="button" class="btnClear-red " id="editContact-deleteBtn" data-click="deleteContact">
					<img src="images/trash.svg" />  Delete Contact
				</a>
			</div>
		</form>
	</div>
	<div class="footerBk" data-role="footer">
		<a data-role="button" class="btnPrimary btnSpan-btm" id="editContact-saveBtn" data-click="editContactView.updateDone">Update Contact
		</a>

	</div>
</div>


<div data-role="view" data-model="contactModel.currentContact" data-title="Edit Contact" id="deviceSyncContact"  class="appearance" style="display: none;">
	<ul data-role="listview" data-style="inset" id="syncEditList">
		<li>
			<p> Device Info</p>
		</li>
		<li>
			<label>Phone <span class="input-count hidden" id="syncEditPhoneCount"></span>
				<select id="syncContactPhone" data-role="dropdownlist"
						data-text-field="number"
						data-value-field="number"
						data-bind="source: phoneDS"
						auto-bind="false">
				</select>
			</label>
		</li>
		<li>
			<label>Email Addresses
				<select id="syncContactEmail" data-role="dropdownlist"
						data-text-field="address"
						data-value-field="address"
						data-bind="source: emailDS"
						auto-bind="false">
				</select>
			</label>
		</li>
		<li>
			<label>Address List
				<select id="syncContactAddress" data-role="dropdownlist"
						data-text-field="address"
						data-value-field="address"
						data-bind="source: addressDS"
						auto-bind="false">
				</select>
			</label>
		</li>
		<li>
			<div style="text-align: center; padding-top: 6px; padding-bottom: 6px;">
				<a data-role="button" class="btnSecondary btnSpan" id="editContact-syncCompleteBtn" data-click="onDoneSyncContact" style="display: none;"> Update Contact</a>
			</div>
		</li>
	</ul>
</div>



<script type="text/x-kendo-template" id="contactsHeaderTemplate">
	<div>
		# if (data.value === 'phone') {#
			Device
		#} else if (data.value === 'new'){#
			Invited
		#} else if (data.value === 'member') {#
			Member
		#} else if (data.value === 'unknown') {#
			New Chat Member
		#} else if (data.value === 'zapped') {#
			Blocked User
		#}#
	</div>
</script>


<script type="text/x-kendo-template" id="contactsTemplate">      
	#
		var name = data.name;
		var alias = data.alias;
		var group = data.group;
		var primaryName = ux.returnUXPrimaryName(name, alias);
		var secondaryName = ux.returnAliasName(name, alias);
	#
	<div>
    	<div class="contact-options">
			# if (data.contactUUID === undefined || data.contactUUID === null){#
			<a class="btnClear-grey" data-role="button" data-click="contactsView.doInviteContact" data-contact="#:uuid#">
				<img src="images/contact-invite.svg" height="12" />
				<p class="chat-option-selection"> Resend Invite</p>
			</a>
			#}#
			<a class="btnClear-grey" data-role="button" data-click="contactsView.doEditContact" data-contact="#:uuid#">
				<img src="images/option-edit.svg" height="18" />
				<p class="chat-option-selection">Edit</p>
			</a>
			<a class="btnClear-red" data-role="button" data-click="contactsView.doDeleteContact" data-contact="#:uuid#">
				<img src="images/trash.svg" height="18" />
				<p class="chat-option-selection"> Delete</p>
			</a>
		    
    	</div><!-- contact-options -->
    	# if(data.category === 'member') {#
    		<a class="contactListBox member">
    	#} else if(data.category === 'new'){#
    		<a class="contactListBox">
    	#} else {#
    		<a class="contactListBox noSlide">
    	#}#
			#if (data.category === 'member') {#
					<div class="left listPhoto">
						<div class="statusContactList">

							#if (data.isAvailable !== undefined && data.isAvailable) { #
								<img class="circle-img-md" src="#:data.photo#" />
								<img width="16" src="images/status-available.svg" class="statusContactList-icon" />
							# }
							else { #
								<img class="circle-img-md" src="#:data.photo#" />
								<img width="16" src="images/status-away.svg" class="statusContactList-icon" />
							#}#
						</div>
					</div><!-- left -->

						<div class="left listName">
							<h4 class="textClamp">
							#= primaryName #
							#if (data.phoneValidated){#
									<img src="images/user-verified.svg" class="user-status-icon" />
							#}#
							<span class="contacts-alias-sm hidden">#= secondaryName  #</span>
							
							#if(data.group !== "" && data.group !== null){#
								<span class="contact-group">#: data.group #</span>
							#}#
							
							</h4>
						</div>

						<div class="left contact-status textClamp">
							<p class="contactStatusMessage-sm">
							# var message = "", location = ""; 
								if (data.statusMessage !== undefined && data.statusMessage !== "") {
									message = data.statusMessage;
								}#

								#:message# 

								# if (data.cateogy === 'zapped') {#
								Blocked User - Tap to Unblock
								#}#
							</p>
							
							# if (data.currentPlace !== undefined && data.currentPlace !== ""){#
									<p class="contactStatus-location">
										@#:data.currentPlace#
									</p>
								#}#
						</div>

						<div class="clearfix"></div>
				#} else if(data.category === 'new'){#
					<div class="left listPhoto">
						<div class="statusContactList">
							<img class="circle-img-md" src="#:data.photo#" />	
						</div>
					</div><!-- left -->
					<div class="left listName">
							<h4 class="textClamp">
							#= primaryName #
							<span class="contacts-alias-sm">#= secondaryName  #</span>
							</h4>
						</div>
						<div class="left contact-status">
							<p class="left contactStatusMessage-sm">Invite Sent</p>
						</div>
				#} else {#
					<div class="left listPhoto">
						<div class="statusContactList">
							<img class="circle-img-md" src="#:data.photo#" />	
						</div>
					</div><!-- left -->
					<div class="left listName">
							<h4 class="textClamp">
								#: data.name # 
								#if (data.phoneValidated){#
									<img src="images/user-verified.svg" class="user-status-icon" />
								#}#
								<span class="contacts-alias-sm">#: data.alias #</span>
							</h4>
						</div>
						<div class="left contact-status">
							<p class="left contactStatusMessage-sm">
							New Contact - Tap to Connect!
							</p>
						</div>
				#}#
		</a><!-- listBox -->
	</div>

</script>

<script type="text/x-kendo-template" id="deviceContactsTemplate">
  			<div> 
				  <h3>#:data.name#
			  	</h3>
			  <table class="contactImportTable">
			  	#if (data.emails.length > 0) {#
			  	<tr>
				  	<td>
				  		# var email = data.emails[0].name; #
				  		# var cleanEmail = ux.showCleanEmail(email) #
				  		<span class="contactEmail">#: cleanEmail #</span>
				  		
				  			# var emailCount = (data.emails.length); 
				  			if (emailCount > 1){# 
				  				<span class="badge">+#:emailCount - 1 #</span>
				  			#}#
				  			
				  		
				  	</td>
			  	</tr>
			  	#}#
			  	<tr>
			  		<td>
			  			<span class="contactPhone">
			  				# var phone = data.phoneNumbers[0].number; 
			  				var cleanPhone = ux.showCleanPhone(phone) #
			  				#: cleanPhone # 
			  			</span>
			  				# var phoneCount = (data.phoneNumbers.length); 
			  			 	if (phoneCount > 1){#
			  			 		<span class="badge">+#:phoneCount - 1#</span>
			  			 	#}#
			  		</td>
			  	</tr>
			  	#if (data.addresses.length > 0) {#
					 <tr>
						<td>
						# var addressCount = data.addresses.length; # 
						<span class="contactAddress">#:data.addresses[0].fullAddress#</span>
						#if (addressCount > 1){#
							<span class="badge">+#:addressCount - 1 #</span>
						#}#
						</td>
					</tr>
					 #}#
			  </table>   	 
  		</div>
</script>

<div data-role="view" data-title="Contact" id="contact" data-layout="main" data-model="contactModel" data-init="onInitContact">
  <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img class="menuIcon" src="images/menu-icon.svg"/></a>
            <a data-role="button" href="#contactImport" data-align="right" ><i class="ghostIconNavbar fa fa-plus"></i> </a>
        </div>
    </div>       
    
    <div>
        <ul id="xcontacts-listview"></ul>
    </div>
    
    
</div>


