<div data-role="view" data-title="Memories" id="gallery" data-layout="main" data-model="photoModel" data-init="galleryView.OnInit" data-show="galleryView.onShow" data-before-hide="galleryView.onHide">
 	<div>
 		
			<ul data-role="buttongroup" data-index="0" id="galleryMenuSelect" data-select="galleryView.selectCategory">
				<li>
					Photos
				</li>
				<li>
					Saved Messages
				</li>
			</ul>
		
			<div class="resultsBar">
				<div class="results"><span id="resultCount"></span> Results</div>
				
				<div class="filter">
					<a class="btnClear" data-role="button" href="#filterGallery" id="toggleFilterBtn">
						<img src="images/icon-filter-link.svg" />
						<span id="filterCount"></span> 
						<span id="filterText"> Filter </span>
					</a>
				</div>
				
				<div class="clearfix"></div>
			</div>
		<div id="archive-listview" class="hidden" data-role="scroller">
			<ul data-role="listview" data-source="archive.dataSource" data-template="archive-template" data-header-template="archive-header-template" data-click="archiveView.archiveClick"></ul>
		</div>
		<!-- Photos -->
		<ul id="gallery-listview" class="list-inline" data-role="listview" data-source="photoModel.photosDS" data-template="gallery-template" data-click="galleryView.galleryClick"></ul>

		<div id="archive-empty">Your archive is empty</div>
		<div id="archive-search-empty">Nothing found</div>
	</div>

</div>

<div data-role="view" data-title="Filter" id="filterGallery" data-layout="main" data-transition="overlay:up" data-init="archiveView.onFilterInit">
	<div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#:back" data-align="right">
                Cancel
            </a>
       </div>
    </div>
    
    <div class="card">
    <p class="helper">Filter types</p>
    	<ul class="filterList" data-role="listview">
			<li>
              	<label for="filter-contact">
              		<input type="checkbox" id="filter-contact" data-off-label="No" data-on-label="Yes" data-role="switch" data-change="archiveView.filterChange"/>
              		<img src="images/nav-contacts.svg" /> Contacts
              	</label>
			</li>
			<li>
				<div class="filterAdd filter-contact-add" style="display: none">
					<input type="text" placeholder="Add contact name" />
					<a class="btnClear" data-role="button" data-type="contact" data-click="archiveView.addFilter">Add</a>
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
              	<label for="filter-link">
              		<input type="checkbox" id="filter-link" data-off-label="No" data-on-label="Yes" data-role="switch" data-change="archiveView.filterChange"/>
              		<img src="images/icon-Links.svg" /> Links
              	</label>
			</li>
			<li>
				<div class="filterAdd filter-link-add" style="display: none">
					<input type="text" placeholder="Add website" />
					<a class="btnClear" data-role="button" data-type="link" data-click="archiveView.addFilter">Add</a>
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
              	<label for="filter-chat">
              		<input type="checkbox" id="filter-chat" data-off-label="No" data-on-label="Yes" data-role="switch" data-change="archiveView.filterChange"/>
              		<img src="images/icon-Chat.svg" /> Chats
              	</label>
			</li>
			<li>
				<div class="filterAdd filter-chat-add" style="display: none">
					<input type="text" placeholder="Add chat name" />
					<a class="btnClear" data-role="button" data-type="chat" data-click="archiveView.addFilter">Add</a>
				</div>
				<div class="clearfix"></div>
			</li>
			<li>
              	<label for="filter-place">
              		<input type="checkbox" id="filter-place" data-off-label="No" data-on-label="Yes" data-role="switch" data-change="archiveView.filterChange"/>
              		<img src="images/icon-Events.svg" /> Events
              	</label>
			</li>
			<li>
				<div class="filterAdd filter-place-add" style="display: none">
					<input type="text" placeholder="Add event" />
					<a class="btnClear" data-role="button" data-type="event" data-click="archiveView.addFilter">Add</a>
				</div>
				<div class="clearfix"></div>
			</li>
			<li data-role="button" data-click="archiveView.openFilterDate">
				<div>
					<img src="images/icon-date.svg" height="18"/> Select Date 
				</div>
			</li>
		</ul>
	</div>
	<div class="currentFilterTags">
    	<p>
    		Current Filters
    		<a class="btnClear-red hidden right" data-role="button" data-click="archiveView.deleteTags" id="deleteTagBtn">Delete</a>
    		<a class="btnClear-grey right" data-role="button" data-click="archiveView.clearAllTags">Clear all</a>
    		
    	</p>
    	<ul class="tagList list-inline" data-role="listview" data-template="tag-template"></ul>
    </div>
    <div data-role="footer">
		<a class="btnSpan-btm btnPrimary" data-role="button" data-click="archiveView.saveFilters"> Save </a>
    </div>

</div>

<div id="modalview-dateFilter" data-role="modalview" style="width: 90%; display: none;" class="appearance" data-init="archiveView.onInitDateSelect">
	<h3>Select date
		<a class="right closeBox" data-role="button" data-click="archiveView.closeModalDateSelect">
			<img src="images/close.svg"/>
		</a>
	</h3>
	<div class="helper">
		<ul id="select-period">
            <li>
                Before
            </li>
            <li>
                On
            </li>
            <li>
                After
            </li>
        </ul>
	</div>
	<div id="dateSelect"></div>
	
	<div class="footer" data-role="footer">
		<a class="btnFull-modal btnClear" data-role="button" data-click="archiveView.closeModalDateSelect">Add</a>
	</div>
</div>

<!-- Photo tag modal -->
<div data-role="modalview" id="modalview-photoTag" style="width: 90%; display: none;"  data-model="modalPhotoTag._activePhoto" class="appearance">
	<div data-role="header">
		<div data-role="navbar">
			<span>Tag Photo</span>
			<a data-click="modalPhotoTag.onCancel" data-role="button"  class="btnClear-grey" data-align="left">Cancel</a>

		</div>
	</div>
	
	<div class="footer" data-role="footer">
		<a class="btnFull-modal btnPrimary" data-role="button" data-click="modalPhotoTag.onDone">Save</a>
	</div>
</div>

<div data-role="modalview" id="modalPhotoView" style="width: 100%; height:100%; display: none;" class="fullPhotoModal" data-model="modalPhotoView._activePhoto" data-init="modalPhotoView.onInit">
	<div class="photoViewBox">
		<img id="modalPhotoViewImage" data-bind="attr: {src : imageUrl}" />
		<div class="photoTitleBox">
			<div class="photoTitleText">
				<h3 class="textClamp">
					<span id="modalPhotoViewTitle" data-bind="text: title">Photo Title</span>
					<a class="btnClear-sm" data-role="button" data-click="modalPhotoView.openTagEditor">Edit</a>
				</h3>

				<p>
					<span data-bind="text: description"> </span>
				</p>
				<p>
					<img src="images/icon-tag-light.svg" class="icon-sm" /> 
					<span id="modalPhotoViewTags" data-bind="text: tagsString">photo tags</span>
				</p>
			</div>
			<div class="photoTitleInput hidden">
				<label>Title</label>
				<input type="search" class="input-text-md" data-bind="value: title" maxlength="20"/>
				
				<label>Description</label>
				<textarea data-bind="value: description" type="text" col="80" row="2" maxlength="60"></textarea>
				
				<label>Tags</label>
				<textarea data-bind="value: tagsString" type="text" col="80" row="2" maxlength="60" placeholder="People, event, location..."></textarea>
			</div>
			<a class="actionBtn primary-100" data-role="button" data-click="modalPhotoView.sharePhoto">
				<img src="images/icon-share-light.svg"/>
			</a>
		</div>

	</div>
	<div class="footer" data-role="footer">
		<a class="btnSpan-btm btnClear glass" data-role="button" data-click="modalPhotoView.closeModal" id="modalPhotoView-close">Close</a>
		<a class="btnSpan-btm btnPrimary hidden" data-role="button" data-click="modalPhotoView.closeTagEditor" id="modalPhotoView-update">Update</a>
	</div>
</div>



<div data-role="view" id="photoView" class="fullPhotoModal" data-zoom="true" style="width: 100%; height: 100%; display: none;" data-model="photoView._activePhoto" data-init="photoView.onInit" data-show="photoView.onShow" data-transition="fade">
	<div class="photoViewBox">
		<img id="photoViewImage" src="" />
		<div class="photoTitleBox">
			<h3><span>Photo Title</span>
				<a class="btnClear-sm" data-role="button" data-rel="modalview" href="#modalview-photoTag">Edit</a>
			</h3>
			<p><img src="images/icon-tag-light.svg" class="icon-sm" /> photo tags</p>
			<a class="actionBtn primary-100" data-role="button" data-click="photoView.sharePhoto">
				<img src="images/icon-share-light.svg"/>
			</a>
		</div>
	</div>
	<div class="footer" data-role="footer">
		<a class="btnSpan-btm btnClear glass" data-role="button" href="#:back">Close</a>
	</div>
</div>


<div data-role="view" id="photoEditor" style="width: 100%; height:100%; display: none;"  data-show="photoEditor.onShow"  data-hide="photoEditor.onHide" data-init="photoEditor.onInit" data-transition="slide:left">
	<div class="photoViewNavTop" data-role="header">
		<a data-role="button"  data-click="photoEditor.rotateLeft"><img src="images/photo-left.svg" /> </a>
		<a data-role="button"  data-click="photoEditor.rotateRight"> <img src="images/photo-right.svg" /></a>
		<a data-role="button" data-click="photoEditor.crop"> <img class="photo-options" src="images/photo-crop.svg" /> </a>
		<a data-role="button" data-rel="modalview"  href="#modalview-photoTag"><img src="images/photo-tag.svg" /></a>
	</div>


	<div class="photoViewBox">
		<img class="centerPhoto" id="photoEditImage" src="images/photo-default.svg" />
	</div>

	<div data-role="footer">
		<a class="btnSpan-btm btnPrimary" id="photoEditSaveDiv" data-role="button" data-click="photoEditor.savePhoto"> Save </a>
	</div>

</div>

<script id="tag-template" type="text/x-kendo-template">
	<div class="tag">
		<div class="tag-category">
	    	<img src="images/icon-#=type#-light.svg" />
	   	</div>
	    <div class="tag-text">
	    	#: tag #
	    </div>
	</div>
</script>

<script id="archive-dateOption-template" type="text/x-kendo-template">
    <img src="images/icon-filter.svg"> Filter
</script>

<script id="calendar-footer-template" type="text/x-kendo-template">
    Today - #: kendo.toString(data, "d") #
</script>

<script id="archive-filter-template" type="text/x-kendo-template">
	<span>#: data.name #</span>
</script>

<script type="text/x-kendo-template" id="tags-template">
	<div class="">
		<span class="left">#: data.name # </span>
		<span class="right"><a class="btnClear-red"><img src="images/trash.svg"></a></span>
	</div>
</script>


 <!-- galleryPicker template -->
 <script type="text/x-kendo-template" id="gallery-template">
     <div class="touch">
         <div class="galleryImgBox">
			# if (imageUrl !== undefined && imageUrl !== '') { #
             <img class="galleryImg" src="#=imageUrl#" />
			 # } else { #
			 <img class="galleryImg" src="#=thumbnailUrl#" />
			 # } #
         </div>
     </div>
 </script>

<script type="text/x-kendo-template" id="archive-header-template">
    <div>
    	<img class="archive-header-img" src="images/archive-#= value #.svg"> #: value #
    </div>
</script>

<script type="text/x-kendo-template" id="archive-template">
	<div class="card">
		#
			var singleDayTime = moment(data.object.start).format("MMM Do, YYYY");
			var multiStartTime = moment(data.object.start).format("MMM Do - ");
			var multiEndTime = moment(data.object.end).format("Do, YYYY");
			var multiDayTime = multiStartTime + multiEndTime;
		#
			<p class="helper cardInfoBar"><img src="images/icon-#=data.type#.svg" /> 
				#= data.message.sender.name # posted in #= data.message.channelName #
			</p>

		# if (data.type === "Events"){#
			<div class="event">
				<h4> #: data.object.name # </h4>
				<p>#: data.object.placeName #</p><p>#: data.object.address #</p>
				# if(data.object.start === data.object.end && data.object.start !== "") {#
					<p>#: singleDayTime # </p>
				#} else {#
					<p>#: multiDayTime # </p>
				#}#
			</div>
		#}#
		# if(data.type === "Links") {#
			<div class="link">
				<h4>#: data.object.title #</h4>
				<p>#: data.object.url #</p>
			</div>
		#}#
		# if(data.type === "Photos") {#
			<div class="photo">
				<div class="photoPreview">
					<img src="#= data.object.url #" />
				</div>
				<div class="photoInfo">
					<h4>#: data.object.placeName #</h4>
					<p>#: data.object.address #</p>
				</div>
				<div class="clearfix"></div>
			</div>
		#}#
		# if(data.type = displayCallback(photouuid, imageUrl);== "Chat") {#
			<div class="chat">
				<p>#: data.message.text #</p>
			</div>
		#}#
		<div class="bottom">
			<div class="cardAction">
				#if(data.type !== "Chat"){#
					<a class="btnClear link" data-role="button" data-click="archiveView.viewOpen">View</a>
				#}#
					<a class="btnClear" data-role="button" data-click="archiveView.archiveShare">Share</a>
			<div>
		</div>
	</div>
</script>

