// Editor styles //
.redactor-editor {
	padding: 0.5em !important;
	border: none !important;
}

.redactor-editor p {
	margin-bottom: 0.5em;
}

.redactor-toolbar {
	box-shadow: none;
}

#messageComposeToolbar,
#redactor-toolbar-0 {
	border: none !important;
	border-bottom: 1px solid @shade-200;
}

*[contenteditable] {
	-webkit-user-select: auto !important;
}

#privateNoteTextArea {
	//max-height: 10em;
}