<!-- profile view -->
<div data-role="view" id="profile" data-title="Profile" data-layout="profileLayout" data-model="userModel._user" class="appearance" data-init="profileView.onInit" data-transition="slide:right" data-show="profileView.onShow">

   <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#home" data-align="right">
                <img class="menuIcon" src="images/close.svg"/>
            </a>
       </div>
    </div> 
	 <div class="profileEdit" id="profileEditPhotos">
       <div class="profileTopBox">
           <div class="profileEditPrivate">
               <div class="profilePrivateImg">
                   <img src="images/default-private.svg" data-bind="attr: {src: photo}"/>
               </div>
               <div class="profilePrivateImgBtn">
                   <label>Profile photo</label>
                   <p class="caption">
                       Your profile photo is visible <b>ONLY</b> to your contacts.
                   </p>
                   <a class="btnClear" data-role="button" href="#profilePhotoEdit" >Update Profile Photo</a>
               </div>
           </div>
         </div>
           <div class="line"></div>
       </div>
       <!-- Edit info -->
       <div class="profileEditBtm">
           <form style="clear:both;">
            <h3>Edit Info
            <a class="btnClear right" href="#modalview-changePassword" data-rel="modalview" id="profile-changePassword" data-role="button" >Change Password</a>
            </h3> 
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Name (Your First and Last Name)
                        <input type="search" id="profile-name" data-bind="value: name" />
                    </label>
                </li>
                <li>
                    <label>Alias (How other users see you)
                    <input type="search" id="profile-alias" data-bind="value: alias" />
                    </label>
                </li>
                 <li>
                    <label>Contact email 
                    <input type="email" id="profile-email" data-bind="value: email" />
                    </label>
                </li>
               <li>
                   <label>Mobile Phone 
                       <span class="helper helper-right helper-form"><img src="images/lock.svg" /> Locked </span>
                    <input type="tel" id="profile-phone" class="phone" data-bind="value: phone" readonly />
                    </label>
                </li>
           </ul>
               
           </form>
        </div>
</div>

<!-- Profile Edit -->  
<div data-role="view" id="profileEdit" data-title="Edit Profile" data-layout="profileLayout" data-model="profileEditView._activeProfile"
     data-init="profileEditView.onInit"  data-show="profileEditView.onShow" class="appearance" data-transition="slide:right">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#:back" data-align="left"><img src="images/nav-back.svg"/></a>
           <a data-role="button"  data-click="profileEditView.doSave" data-align="right">Save</a>
       </div>
    </div>    
       <div class="profileEdit" >
       <div class="profileTopBox">
           <div class="profileEditPrivate">
               <div class="profilePrivateImg">
                   <img src="images/default-private.svg" data-bind="attr: {src: photo}"/>
               </div>
               <div class="profilePrivateImgBtn">
                   <label>Profile photo</label>
                   <p class="caption">
                       Your profile photo is visible <b>ONLY</b> to your contacts.
                   </p>
                   <a class="btnClear" data-role="button" href="#profilePhotoEdit" >Update Profile Photo</a>
               </div>
           </div>
         </div>
           <div class="line"></div>
       </div>
       <!-- Edit info -->
       <div class="profileEditBtm">
           <form style="clear:both;">
            <h3>Edit Info</h3> 
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Name (Your First and Last Name)
                        <input type="search" data-bind="value: name" />
                    </label>
                </li>
                <li>
                    <label>Alias (How other users see you)
                    <input type="search" data-bind="value: alias" />
                    </label>
                </li>
                 <li>
                    <label>Contact email 
                    <input type="email"  data-bind="value: email" />
                    </label>
                </li>
               <li>
                   <label>Mobile Phone 
                       <span class="helper helper-right helper-form"><i class="fa fa-lock"></i> Locked <a class="btnClear" id="helper-profilePhone"></a></span>
                    <input type="tel" id="profile-phone" data-bind="value: phone" readonly />
                    </label>
                </li>
           </ul>
               <a class="btnClear" href="#modalview-changePassword" data-rel="modalview" id="profile-changePassword" data-role="button" >Change Password</a>
           </form>
        </div>
</div>
    
<!-- Ghost selection modal -->
<div data-role="modalview" id="modalview-chooseGhost" style="width: 90%; display:none;" class="appearance">
    <div class="modalTop">
        <h2>
            Let's do this
            <span class="closeBox" style="float:right;">
                <a data-click="closeChooseGhost;" data-role="button"><img src="images/close.svg" /></a>
            </span>
        </h2>
        <p>
        Select a public ghost. 
    </p>
    </div>
    <div class="line"></div>
    
    <div class="ghostSelectionBox">
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-red" data-role="button">
                    <img class="circle-img-lg" src="images/ghost-red.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-purple" data-role="button">
                	<img class="circle-img-lg" src="images/ghost-purple.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" class="currentGhost" id="ghost-blue" data-role="button">
                	<img class="circle-img-lg" src="images/ghost-blue.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost"  id="ghost-teal" data-role="button">
                	<img class="circle-img-lg" src="images/ghost-teal.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-green" data-role="button">
                	<img class="circle-img-lg"  src="images/ghost-green.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-yellow" data-role="button">
                	<img class="circle-img-lg"  src="images/ghost-yellow.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-orange" data-role="button">
                	<img class="circle-img-lg"  src="images/ghost-orange.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-grey" data-role="button">
                	<img class="circle-img-lg" src="images/ghost-grey.svg"/>
                </a>
            </div>
            <div class="ghostPhotoBox">
                <a data-click="whichGhost" id="ghost-black" data-role="button">
                	<img class="circle-img-lg"  src="images/ghost-black.svg"/>
                </a>
            </div>
    </div>
    <div class="clearfix"></div>
    </div>
   
<!-- change password modal -->
<div data-role="modalview" id="modalview-changePassword" style="width: 90%; display:none;" class="appearance">
    <div class="modal-bottom">
    <h4>Change Password
    	<span style="float:right; ">
        	<a data-click="closeNewPass;" data-role="button"><img src="images/close.svg" /></a>
        </span>
    </h4>
	    <ul data-role="listview" data-style="inset">
			<li>
		    	<label>New Password
		        	<input type="password" id="newPassword1" />
		        </label>
		    </li>
		    <li>
		    	<label>Confirm Password
		       		<input type="password" id="newPassword2" />
		        </label>
		    </li>
	    </ul>   
	</div>
    <div class="footer" data-role="footer">
    	<a class="btnFull-modal btnSecondary" data-click="validNewPass" data-role="button">Update</a>
    </div>
</div>

<div data-role="view" id="profilePhotoEdit" data-show="editProfilePhotoView.onShow" data-init="editProfilePhotoView.onInit" style="display: none;"  class="appearance">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="button"  data-align="left" href="#:back" ><img src="images/nav-back.svg" /></a>
            <span>Change Profile Photo</span>
            <a data-click="onDone"  type="button" data-role="button" data-align="right">Update</a>
        </div>
    </div>

    <div style="text-align: center; padding-top: 6px;" id="profilePhotoImportDiv">
        <p> Choose a photo from your phone's gallery or ghostgram Memories.  Or take a new one with your phone's camera!</p>
        <div style="display: inline-block;">
            <a type="button" data-role="button" data-click="editProfilePhotoView.doCamera" class="btnClearLine-grey-sm">Phone Camera</a>
            <a type="button" data-role="button" data-click="editProfilePhotoView.doPhotoGallery" class="btnClearLine-grey-sm">Phone Photos</a>
            <a type="button" data-role="button" data-click="editProfilePhotoView.doMemories" class="btnClearLine-grey-sm">Memories</a>
        </div>
    </div>

    <div style="margin:8px; height: 50%; width: auto; text-align: center">
        <img id="profilePhotoImage" class="wraption"  style="max-height: 100%; max-width:100%; vertical-align: middle;">
    </div>

</div>

