.sentinel + ul {

	padding: .2rem;
	margin: 0 0 .8rem 0;

	list-style-type: none;

	li {
		display: inline-block;
		padding: 0 .4rem;
		border-radius: .8rem;
		margin: 0 .4rem .4rem 0;

		background-color: @grey200;
	}

	button {
		&:extend(.fa, .fa-times-circle all);

		padding: 0;
		border: none;
		margin: 0 0 0 .4rem;

		background-color: transparent;
	}
}

.filter-element {
	position: absolute;

	border: 1px solid @grey200;
	box-shadow: 0 8px 22px -8px rgba(0,0,0,0.50);

	background-color: white;

	h1 {
		font-size: 1.1rem;
	}
}