body {
  font-size: 1em;
}
table.k-editor .k-content {
  resize: vertical;
}
.k-editor .k-editor-toolbar-wrap {
  display: none;
}
table.k-editor {
  border-color: none !important;
  background: #fff;
}
.photo-chat {
  height: 6em !important;
  max-width: 90%;
  border-radius: 3px;
}
