@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300|Hind:400,500);
/*** Guidelines - updated 3/14/15 (see https://www.dropbox.com/s/vw40iwbmvo1tkol/styles-0.1.pdf?dl=0) ***/
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #212121;
  font-size: 14px;
  margin: 1.14285714em;
}
h1 {
  font-size: 2.42857143em;
  /* 34px */

  font-family: 'Hind', sans-serif;
}
h2 {
  font-size: 1.71428571em;
  /* 24px */

  font-family: 'Hind', sans-serif;
}
h3 {
  font-size: 1.42857143em;
  /* 20px */

}
h4 {
  font-size: 1.14285714em;
}
h5 {
  font-weight: 600;
}
.caption {
  font-size: 13px;
}
/* Colors */
.blue-100 {
  background-color: #3caaee;
}
.blue-200 {
  background-color: #27476e;
}

/* Elements */
.line {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
/*** ***/

/* Styles */
.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

.km-content,
 .km-navbar {
    font-size: 0.9em;
    background-color:  #27476e;
    background:  cover;
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}


.km-flat  .km-navbar {
    font-size: 0.9em;
    color: rgb(39,71,110);
}

.km-flat.km-pages li {
     background-color: #d3d3d3;
}

#newuserhome .km-content { 
    background-image: url('../images/ghostgrams.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#home .km-content { 
    background-image: url('../images/ghostgrams.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}
.km-flat .km-pages .km-current-page {
    background-image: url('../images/ghostgrams.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}


.publicMode {
    filter: opacity(1.0);
    -webkit-filter: opacity(1.0);
}

.privateMode {
    filter: blur(7x) opacity(0.5);
    -webkit-filter: blur(7px) opacity(0.5);
}

.user-content {
    width: 100%; !important
    height: 100%; !important
    color: white;
    background-color: #27476e;
  
}

.ghostButton {
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
}

.ghostShadow {
     color: transparent; text-shadow: #27476e 0 1px 1px, rgba(0, 0, 30, 0.08) 0px 3px 3px, rgba(0, 0, 30, 0.20) 0px 3px 2px, rgba(0, 0, 30, 0.40) 0px 3px 2px, rgba(0, 0, 0, 0.08) -6px 6px 4px;
}

.ghostIcon {
    color: #27476e;
    font-size: 20px;
    font-weight:500;
    padding-right: 3px;
    padding-left: 3px;
}

.ghostIconSmall {
    color: #27476e;
    font-size: 16px;
    font-weight:500;
}

.ghostIconNavbar {
    color: #27476e;
    font-size: 14px;
    font-weight:400;
}
.ghostText {
    color: #27476e;
    font-size: 16px;
    font-weight:400;
}

.ghostTextLarge {
    color: #27476e;
    font-size: 18px;
    font-weight:500;
}

.ghostTiny {
    color: #27476e;
    font-size: 12px;
    font-weight:400;
}

.ghostLabel {
  color: #27476e;
  font-size: 12px;
}

.ghostData {
   color: #2e2e2e;
  font-size: 14px;
}

.ghostMemberUl {
	list-style-type: none;
	list-style-position:inside;
	margin:6px;
	padding:6px;
	border-radius: 5px;
    border: 1px solid #27476e;
}
.ghostMemberLi {
	color: #d3d3d3;
	width: 100%;	
	list-style-type: none;
	list-style-position:inside;
	height: 38px;
	display: block;
}
.ghostMemberName {
	display: inline-block;
	margin-top: 5px;
	font-size: 14px;
	color: #2e2e2e;
	vertical-align: bottom;
	
}
.ghostMemberLi a {
	margin-right: 12px;
	display: inline-block;
	vertical-align: middle;
}

.ghostWhiteTitle {
    color: rgba(255,255,255, 0.9);
	background-color: #27476e;
    text-shadow: rgba(64,64,64, 0.9) 0px 3px 3px;
    font-size: 18px;
    font-weight:700;
}

.ghostTitle {
    color: #979797;
    font-size: 18px;
    font-weight:700;
}

.ghostDescription {
    color:#27476e;
    font-size: 13px;
    font-weight:400;
}

.ghostMessage {
	background-color : transparent;
 	color: #2e2e2e;
    font-size: 14px;	
}


.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
	display: table;
}
.clearfix:after { clear: both; }


.notification-message {
	margin: 8px 0;
	line-height: 16px;
	border-radius: 25px;
}

.notification-message p {
	padding-top: 6px;
	margin: 0;
}

.notification-message a {
	line-height: 1.5em;
	opacity: 0.7;
	color: #27476e;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
}

.notification-message img {
	border-radius: 50%;
	float: left;
}

.notification-message .km-button:not(.km-back)
 {
	color: #2e2e2e;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right : 4px;
	padding-left : 4px;
	 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
 }


.notification-message-content {
	margin-left: 48px;
	color: #2e2e2e;
}

.notification-time {
	float: right;
	opacity: 0.7;
	padding-top: 6px;
	font-size: 12px;
}

.chat-message {
	margin: 8px 0;
	line-height: 16px;
}

.chat-message p {
	margin: 0;
}

.chat-message h5 {
	line-height: 1.5em;
	opacity: 0.5;
	color: #27476e;
	margin: 0;
	font-size: 12px;
	font-weight: 600;
}

.chat-message img {
	border-radius: 50%;
	float: left;
}

.chat-message-content {
	margin-left: 48px;
	color: #2e2e2e;
}

.chat-time {
	float: right;
	opacity: 0.7;
	font-size: 12px;
}

.ghostMessageContact {
 	color: #27476e;
    font-size: 14px;
    font-weight:400;	
}

.ghostMessageTime {
	float: right;
	color: #888888;
    font-size: 12px;
    font-weight:400;
}

.ghostContent {
   background-color: #d2d2d2;
	color: #27476e;
   background: cover;
   width: 100%;
   height: 100%;
   padding-top: 12px;
   padding-bottom: 24px;
  
}

.ghostContainer {
   background-color: #d2d2d2;
   color: #27476e;
   padding-left: 12px;
   padding-right: 12px;
   
}

.ghostContainer h3 {
    font-size: 16px;
    background-color: #d2d2d2;
   color: #27476e;
}

.ghostCollapsible {
    font-size: 16px;
    background-color: #d2d2d2;
	color: #27476e;
}

.ghostList {
   background-color: #fff;
   color: #d2d2d2;
   padding: 12px;
   font-size: 14px

}

.km-root .appearance .km-listview label
{
  color: #27476e;
  font-size: 12px;
  width: 100%;
}

.km-wp .appearance .km-listview label
{
  color: #27476e;
  font-size: 12px;
}

.km-root .km-pane .km-view.appearance .km-listview input 
{
  position: relative;
  font-size: 14px;
  width: 100%;
  right: 0;
  margin-top: 0;
  top: 0;
  border: 1px solid #27476e;
}

.km-root .km-pane .km-view.appearance .km-listview select 
{
  position: relative;
  font-size: 14px;
  width: 100%;
  right: 0;
  margin-top: 0;
  top: 0;
  border: 1px solid #27476e;
}

.km-root .km-pane .km-view.appearance .km-listview a 
{
  position: relative;
  font-size: 14px;
  width: 100%;
  right: 0;
  margin-top: 0;
  top: 0;
  border: 1px solid #27476e;
}

.km-root .km-pane .km-view.appearance .km-listview textarea 
{
  clear:both;
  position: relative;
  font-size: 14px;
  width: 95%;
  margin-top: 0;
  left: -18px;
  top: 0;
  border: 1px solid #27476e;
}
.km-root .km-button
{
    color: #27476e;
    font-size: 0.9em;
    background-color: #fff;
    border: 1px solid #27476e;
    -webkit-box-shadow: 1px 1px 2px 2px rgba(39,71,110, .4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    1px 1px 2px 2px rgba(39,71,110, .4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 2px rgba(39,71,110, .4);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.km-root .km-wp .km-view.appearance .km-listview input 
{
    color: #2e2e2e;
    font-size: 14px;
    margin-top: .2em;
    border: 1px solid #AEAEAE;
}

.km-root .km-wp .km-view.appearance .km-listview select 
{
    color: #2e2e2e;
    font-size: 14px;
    margin-top: .2em;
    border: 1px solid #AEAEAE;
}

.km-root .km-ios .km-view.appearance .km-listview input,
.km-root .km-ios7 .km-view.appearance .km-listview input
{
  color: #2e2e2e;
  padding: .4em 0;
}

.km-root .km-ios .km-view.appearance .km-listview select,
.km-root .km-ios7 .km-view.appearance .km-listview select
{
  color: #2e2e2e;
  padding: .4em 0;
}

.k-marker-here {
    background-image: url("../images/downloadicon.png")!important;
    width: 30px !important;
    height: 40px !important;
    margin: -40px 0 0 -15px !important;
}

.fa .km-icon:after,
.fa .km-icon:before
{
    font: 1em/1em 'FontAwesome';
    color: #2e2e2e;
}

.fa-lg  .km-icon:after,
.fa-lg .km-icon:before,
{
  font-size: 1.33333333em/1.3333333em 'FontAwesome';
  line-height: 0.75em;
  vertical-align: -15%;
}

.km-fa-phone:after,
.km-fa-phone:before
{
    content: "\F10B";
}

.km-fa-email:after,
.km-fa-email:before
{
    content: "\F003";
}

.km-fa-local:after,
.km-fa-local:before
{
    content: "\f124";
}

.km-fa-personalmessage:after,
.km-fa-personalmessage:before
{
    content: "\f0e6";
}

.km-fa-photo:after,
.km-fa-photo:before
{
    content: "\f030";
}

 #contacts .slideGearButton {
    display:none;
    position: absolute;
    top: .15em;
    right: .5em;
    width: 60px;
    background-color: #27476e;
    color: #fff;
}


.km-flat .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container .km-switch-handle .km-switch-label-on {
    color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container {
    background-color: rgb(0, 100, 181);
}
.contactPhoto {
    width: 80px;
    height: auto;
}

.round {
    display:block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    padding:5px 4px;
}
.round img {
    width: 45px;
}



@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

@keyframes fadeAndScaleOut {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0.1;
        transform: scale(.1, .1);
    }
}
 
.textErase {
	animation-duration: .3s;
    animation-name: fadeAndScaleOut;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
 