.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

#home .km-content{ 
background-image: url('../images/bg.jpg');
background-size: 100%;
color : white;
 
}

.publicMode {
    filter: opacity(1.0);
    -webkit-filter: opacity(1.0);
}

.privateMode {
    filter: blur(11x) opacity(0.5);
    -webkit-filter: blur(11px) opacity(0.5);
}