.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }

.km-content,
 .km-navbar {
    font-size: 0.9em;
    background-color:  rgba(37,120,152, 1.0);
    background:  cover;
    color: #fff;
}

.km-flat  .km-navbar {
    font-size: 0.9em;
    color: rgba(37,120,152, 1.0);
}

.km-flat.km-pages li {
     background-color:  rgba(37,120,152, 1.0);
}
.km-flat .km-pages .km-current-page {
    background-color:  rgba(37,120,152, 1.0);
    background: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0:
}
#home .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#newuserhome .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#profile .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#channels .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#addChannel .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#channel .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#contacts .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#editContact .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#addContact .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#contactImport .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#gallery .km-content { 
    background-image: url('../images/blughostcropped.png');
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

#places .km-content { 
    background-color: rgba(37,120,152, 0.8);
    background-size: 100% 100%;
    color : white;
    width: 100%;
    height: 100%;
}

.publicMode {
    filter: opacity(1.0);
    -webkit-filter: opacity(1.0);
}

.privateMode {
    filter: blur(7x) opacity(0.5);
    -webkit-filter: blur(7px) opacity(0.5);
}

.user-content {
    width: 100%; !important
    height: 100%; !important
    color: white;
    background-color: rgba(37,120,152, 0.9);
  
}

.ghostButton {
    
    color: #fff;
    font-size: 1.2em;
    text-shadow: rgba(37,120,152, 0.6) 1px 3px 3px;
    font-weight: 700;
   
}

.ghostShadow {
     color: transparent; text-shadow: rgba(245, 245, 255, 0.35) 0 1px 1px, rgba(0, 0, 30, 0.08) 0px 3px 3px, rgba(0, 0, 30, 0.20) 0px 3px 2px, rgba(0, 0, 30, 0.40) 0px 3px 2px, rgba(0, 0, 0, 0.08) -6px 6px 4px;
}

.ghostIcon {
    color: rgba(37,120,152, .8);
    font-size: 20px;
    font-weight:500;
    padding-right: 3px;
    padding-left: 3px;
}

.ghostIconSmall {
    color: rgba(37,120,152, .8);
    font-size: 16px;
    font-weight:500;
}

.ghostIconNavbar {
    color: rgba(37,120,152, .8);
    font-size: 14px;
    font-weight:400;
}
.ghostText {
    color: rgba(37,120,152, 1.0);
    font-size: 16px;
    font-weight:400;
}

.ghostTextLarge {
    color: rgba(37,120,152, 0.9);
    font-size: 18px;
    font-weight:500;
}

.ghostTiny {
    color: rgba(37,120,152, 0.5);
    font-size: 12px;
    font-weight:400;
}

.ghostWhiteTitle {
    color: rgba(255,255,255, 0.9);
    text-shadow: rgba(64,64,64, 0.9) 0px 3px 3px;
    font-size: 18px;
    font-weight:700;
}

.ghostTitle {
    color: rgba(37,120,152, 0.9);
    text-shadow: rgba(37,60,78, 0.5) 0px 2px 2px;
    font-size: 18px;
    font-weight:500;
}

.ghostDescription {
    color: rgba(37,120,152, 0.9);
    font-size: 13px;
    font-weight:400;
}

.ghostMessage {
	background-color : transparent;
 	color: #2e2e2e;
    font-size: 14px;	
}

.ghostMessageBodyUser {
	color: #2e2e2e;
	padding-left: 20%;
	max-width: 80%;
}

.ghostMessageBodyOther {
	color: #2e2e2e;
	clear: both;
	max-width: 80%;
}

.ghostMessageContact {
 	color: rgb(37,120,152);
    font-size: 14px;
    font-weight:400;	
}

.ghostMessageTime {
	float: right;
	color: #888888;
    font-size: 12px;
    font-weight:400;
}

.ghostContent {
   background-color: rgb(37,120,152);
   background: cover;
   padding-top: 12px;
   color: #e2e2e2;  
}

.ghostContainer {
   background-color: rgb(37,120,152);
   padding-left: 12px;
   padding-right: 12px;
   color: #e2e2e2;
}

.ghostContainer h3 {
    font-size: 16px;
    background-color: rgb(37,120,152);
    color: #fff;
}

.ghostCollapsible {
    font-size: 16px;
    background-color: rgb(37,120,152);
    color: #fff;
}

.ghostList {
   background-color: #fff;
   color: rgba(37,120,152, 0.9);
   padding: 12px;
   font-size: 14px

}

.km-root .appearance .km-listview label
{
  color: rgba(37,120,152, 0.9);
  font-size: 12px;
  width: 100%;
}

.km-wp .appearance .km-listview label
{
  color: rgba(37,120,152, 0.9);
  font-size: 12px;
}

.km-root .km-pane .km-view.appearance .km-listview input 
{
  position: relative;
  font-size: 14px;
  width: 100%;
  right: 0;
  margin-top: 0;
  top: 0;
  border: 1px solid #aeaeae;
}

.km-root .km-pane .km-view.appearance .km-listview select 
{
  position: relative;
  font-size: 14px;
  width: 100%;
  right: 0;
  margin-top: 0;
  top: 0;
  border: 1px solid #aeaeae;
}

.km-root .km-pane .km-view.appearance .km-listview a 
{
  position: relative;
  font-size: 14px;
  width: 100%;
  right: 0;
  margin-top: 0;
  top: 0;
  border: 1px solid #aeaeae;
}

.km-root .km-pane .km-view.appearance .km-listview textarea 
{
  clear:both;
  position: relative;
  font-size: 14px;
  width: 95%;
  margin-top: 0;
  left: -18px;
  top: 0;
  border: 1px solid #aeaeae;
}
.km-root .km-button
{
    color: rgba(37,120,152, 1.0);
    font-size: 0.9em;
    background-color: #fff;
    border: 1px solid rgba(37,120,152, 1.0);
    -webkit-box-shadow: 1px 1px 2px 2px rgba(37,120,152, .4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    1px 1px 2px 2px rgba(37,120,152, .4;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 2px rgba(37,120,152, .4);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.km-root .km-wp .km-view.appearance .km-listview input 
{
    color: #2e2e2e;
    font-size: 14px;
    margin-top: .2em;
    border: 1px solid #AEAEAE;
}

.km-root .km-wp .km-view.appearance .km-listview select 
{
    color: #2e2e2e;
    font-size: 14px;
    margin-top: .2em;
    border: 1px solid #AEAEAE;
}

.km-root .km-ios .km-view.appearance .km-listview input,
.km-root .km-ios7 .km-view.appearance .km-listview input
{
  color: #2e2e2e;
  padding: .4em 0;
}

.km-root .km-ios .km-view.appearance .km-listview select,
.km-root .km-ios7 .km-view.appearance .km-listview select
{
  color: #2e2e2e;
  padding: .4em 0;
}

.k-marker-here {
    background-image: url("../images/downloadicon.png")!important;
    width: 30px !important;
    height: 40px !important;
    margin: -40px 0 0 -15px !important;
}

.fa .km-icon:after,
.fa .km-icon:before
{
    font: 1em/1em 'FontAwesome';
    color: #2e2e2e;
}

.fa-lg  .km-icon:after,
.fa-lg .km-icon:before,
{
  font-size: 1.33333333em/1.3333333em 'FontAwesome';
  line-height: 0.75em;
  vertical-align: -15%;
}

.km-fa-phone:after,
.km-fa-phone:before
{
    content: "\F10B";
}

.km-fa-email:after,
.km-fa-email:before
{
    content: "\F003";
}

.km-fa-local:after,
.km-fa-local:before
{
    content: "\f124";
}

.km-fa-personalmessage:after,
.km-fa-personalmessage:before
{
    content: "\f0e6";
}

.km-fa-photo:after,
.km-fa-photo:before
{
    content: "\f030";
}

 #contacts .slideGearButton {
    display:none;
    position: absolute;
    top: .15em;
    right: .5em;
    width: 60px;
    background-color: rgb(37,120,152);
    color: #fff;
}


.km-flat .km-view .km-navbar .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-list .km-state-active .km-listview-link {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-tabstrip .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-button.km-state-active {
    background-color: rgb(0, 100, 181);
}
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container .km-switch-handle .km-switch-label-on {
    color: rgb(255, 255, 255);
}
.km-flat .km-view .km-content .km-list > li .km-switch .km-switch-container {
    background-color: rgb(0, 100, 181);
}
.contactPhoto {
    width: 80px;
    height: auto;
}

.round {
    display:block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    padding:5px 4px;
}
.round img {
    width: 45px;
}



@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

@keyframes fadeAndScaleOut {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0.1;
        transform: scale(.1, .1);
    }
}
 
.textErase {
	animation-duration: .3s;
    animation-name: fadeAndScaleOut;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
 