/* Smart Object styles */

// Smart object edit and view
#eventBanner {
  width: 100%;
  padding: 0.25em 1em;
  p {
    margin: 0;
  }
}

.event-details {
  margin: 0.5em;
  h1,h2,h3,h4,h5,p {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

#event-viewMode > div:nth-child(2) > h2 {
  line-height: 1;
}

.eventExpired, .eventDeclined {
  background: @warning-100;
  color: #fff;
}

.eventAccepted {
  background: @success-200;
  color: #fff;
}

.eventPending {
  background: @highlight-200;
  color: #fff;
}


.picker__frame {
  bottom: 5em !important;
  @media @mobile {
    bottom: 2em !important;
  }
}

#event-rsvp {
  text-align: left;
  li {
      width: 25%;
      border: 1px solid @shade-200;
  }
  li:nth-child(1).km-state-active {
    background-color: @primary-200;
    color: #fff !important;
  }
  li:nth-child(2).km-state-active {
    background-color: @warning-100;
    color: #fff !important;
  }
}

#event-comment {
  display: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

#smartEventView-durationBox {
  //display: none;
}

#smartEventView-view-calendar-add,
#smartEventView-view-calendar {
  margin-top: 1em;
  margin-bottom: 1em;
}

.event-location {
  margin-top: 1em;
}

#smartEventView-recipientListView li {
  background: #fff;
  padding: 0.25em 1em;
  padding-left: 1em !important;
  border-bottom: 1px solid @shade-200 !important;
}

#smartEventModal > div.km-content.km-widget.km-scroll-wrapper.km-insetcontent > div.km-scroll-container {
  //background: #fff;
}

#event-viewMode > div:nth-child(2) {
  margin-bottom: 1em;
}

.event-date {
  margin-right: 0.5em;
}

#smartEventView-recipientListDiv {
  margin-top: 1em;
}

#event-viewMode {
  margin-top: 0.5em;
}

// Smart object chat inline

.btnSmart {
  padding: 0.25em !important;
  border-radius: 3px;
  text-align: left;
  span:not(.btnSmart-type) {
    //background: #65BBB3 !important;
  }
  .btnSmart-type {
    width: 1.5em;
    height: 1.5em;
    background: #fff !important;
    border-radius: 50%;
    padding: 0.25em;
    margin-right: 0.25em;
    img {
      text-align: center;
      vertical-align: middle;
    }
  }
  .btnSmart-content {
    color: @black;
    line-height: 1.7;
    .btnSmart-title {
      color: #fff !important;
      background: #65BBB3 !important;
      padding: 2px 4px;
      border-radius: 3px !important;
      margin-right: 0.25em;
    }
  }
}

.icon-smartBtn {
  height: 1em;
  max-width: 1em;
}

#smartEventView-date:read-only {
  background: #fff !important;
}

#event-editMode > div > ul > li:nth-child(3) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.partnerDiv {
  text-align: right;
  margin-right: 1em;
  img {
    height: 0.875em;
  }
}

#searchEventPlaces-searchDiv > span.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg {
  width: 85% !important;
  color: #fff;
  background: @warning-100;
}

#searchEventPlaces-searchDiv > span.k-widget.k-tooltip.k-tooltip-validation.k-invalid-msg > span {
  display: none;
}

#searchEventPlace-form > span {
  margin-left: 1em;
  color: @warning-100;
  background: none;
  border: none !important;
}

#searchEventPlace-form > span > span {
  display: none;
}

#searchEventPlace-actionBtns {
  margin-top: 0.75em;
}

#smartEventView-recipientListView > li > div > div.left.listName > h4 {
  margin-left: 0;
}

.rsvp-name {
  float: left;
}

.rsvp-accepted {
  float: right;
  color: @success-200;
  font-size: 0.875em;
}

.rsvp-decline {
  float: right;
  color: @success-200;
  font-size: 0.875em;
}

// Place View
.note {
  border: 1px solid @shade-300;
  border-bottom: 1px solid @shade-200;
  background: #fff;
  padding: 0.25em 0;
  border-radius: 3px;
  margin: 0 1em;
  p {
    .textClamp;
  }
}

.photo {
  padding-top: 0.5em;
  border: 1px solid @shade-300;
  border-bottom: 1px solid @shade-200;
  background: #fff;
  border-radius: 3px;
  margin: 0 1em;
}

.smartPhoto {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 0.25em;
  > img {
    width: 100%;
  }
}