<div data-role="view" id="archive" data-title="Archive" data-layout="main">  
     <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img src="images/menu-icon.svg"/></a>
        </div>
    </div>
    <div class="archiveBox">
        <h4>
            Nothing Archived yet :(
        </h4>
        
    </div>
    <div class="footerMenu" data-role="footer">
	  		<ul class="list-inline menuNav">
	  			<li>
	  				<a data-role="button" href="#home"><img src="images/nav-home.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/channels.html"><img src="images/nav-chat.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/contacts.html"><img src="images/nav-contact.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/places.html"><img src="images/nav-places.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/archive.html"><img src="images/nav-archive-active.svg" /></a>
	  			</li>
	  		</ul>
	  </div>
</div>