
<div data-role="view" id="channels" data-title="Chats" data-layout="main" data-model="channelModel" data-init="channelsView.onInit" data-show="channelsView.onShow" data-hide="channelsView.onHide">
	<div id="channelListDiv">
		<ul id="channels-listview"></ul>
		<div class="emptyState hidden">
			<img src="images/empty-chat.svg" />
		</div>
	</div>
</div>

<div data-role="modalview" id="modalview-requestContent" style="width: 90%; display: none;" class="appearance" data-init="askRequestModal.onInit" data-before-open="askRequestModal.onOpen">
	<div class="modal-top">
		<a data-role="button" class="modal-close" data-click="closeAskRequest"><img src="images/close-white.svg"/></a>
		<div><img src="images/icon-access.svg" /></div>
		<p class="helper">
			<svg width="14px" height="8px" viewBox="0 0 14 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g  transform="translate(-32.000000, -166.000000)" stroke="#ffffff" stroke-width="0.75">
						<g transform="translate(32.000000, 135.000000)">
							<g transform="translate(0.000000, 32.000000)">
								<ellipse cx="3.5" cy="3" rx="3" ry="3"></ellipse>
								<path d="M6.5,3.375 L13.5,3.375"  stroke-linecap="square"></path>
								<path d="M12.375,3.5 L12.375,6.5"  stroke-linecap="square"></path>
								<path d="M10.375,3.5 L10.375,5.5"  stroke-linecap="square"></path>
							</g>
						</g>
					</g>
				</g>
			</svg>
			<span id="askRequest-contactName">  </span></p>
	</div>
	<div class="modal-bottom">
		<h4>Locked content</h4>
		<p class="modal-helper">Ask to save this message.</p>
		<div id="askRequest-content">

		</div>
		<a class="btnClear" data-role="button" data-click="askRequestModal.onSend">Send request</a>
		<div class="modalAction-helper">
			<span> or swipe to dismiss </span>
		</div>
	</div>


</div>

<script type="text/x-kendo-tmpl" id="channels-listview-template">

    <div>
    	<div class="chat-options">
    		<div>
    			<ul class="chat-option-ul">
    				# if (isPrivate){#
    					<li>
		    				<a class="btnClear-red" data-channel="#:channelUUID #" data-role="button"  data-click="deleteChannel">
		    					<img src="images/trash.svg" />
		    					<p class="chat-option-selection"> Delete </p>
		    				</a>
	    				</li>
	    				<li>
		    				<a class="btnClear-grey" data-role="button" data-channel="#:channelUUID #" data-click="muteChannel" data-mute="#: isMuted #">
			    				# if(data.isMuted) {#
		    						<img src="images/icon-unmute.svg" class="channelMuteImg"/>
			    					<p class="channelMute">Unmute</p>
		    					#} else {#
		    						<img src="images/icon-mute.svg" class="channelMuteImg"/>
			    					<p class="channelMute">Mute</p>
		    					#}#
			    			</a>
	    				</li>
    				#} else {#
    					<li>
		    				<a class="btnClear-red" data-role="button" data-channel="#:channelUUID #" data-click="deleteChannel" data-channel="#:channelUUID #">
		    					<img src="images/trash.svg" />
		    					<p class="chat-option-selection"> Delete</p>
		    				</a>
	    				</li>

	    				<li>
		    				<a class="btnClear-grey" data-role="button" data-channel="#:channelUUID #" data-click="muteChannel" data-mute="#: isMuted #">
		    					# if(data.isMuted) {#
		    						<img src="images/icon-unmute.svg" class="channelMuteImg"/>
			    					<p class="channelMute">Unmute</p>
		    					#} else {#
		    						<img src="images/icon-mute.svg" class="channelMuteImg"/>
			    					<p class="channelMute">Mute</p>
		    					#}#
			    			</a>
	    				</li>

    				#}#
    				# if(isPrivate !== true && isOwner){#
    						<li>
			    				<a class="btnClear-grey" data-role="button" data-click="channelsView.editChannel" data-channel="#:channelUUID #">
				    				<img src="images/option-edit.svg" />
				    				<p class="chat-option-selection">Edit</p>
				    			</a>
	    					</li>
    					#}#

    			</ul>
    		</div>
    	</div><!-- chat-options -->
    	<a class="chat-mainBoxLink" id="#:channelUUID#" data-channel="#:channelUUID#">
	    	#if (isPrivate){#
	    		<div class="chat-mainBox private">
	    	#} else if (isOwner){#
	    		<div class="chat-mainBox owner">
	    	#} else {#
	    		<div class="chat-mainBox">
	    	#}#
	    	#
	    	if (lastAccess !== undefined && lastAccess !== null) {
				var accessTime = timeSince(lastAccess);
				if(accessTime === "0s"){
					accessTime = "Just now";
				} else {
					accessTime = accessTime + " ago";
				}
			}
	    	#
	    		<h4 class="textClamp">
	    			<span class="chatStatusIcon">
	    				# if(data.isMuted){#
	    					<img src="images/icon-mute.svg" class="channelMuteImg" />
	    				#} else if(data.unreadCount > 1){#
	    					<img src="images/status-new.svg" class="list-status" />
	    				#} else {#
	    					<span class="list-status"></span>
	    				#}#

	    			</span>
	        		<span class="textClamp chatNameDiv">#:name#</span>
	        		<span class="chatActivityTime left">#:accessTime#</span>
	    		</h4>

	    		#if(data.unreadCount > 1 && !data.isMuted){#
	    			<span class="right listTag-primary">#: data.unreadCount#</span>
	    		#} else if (data.isMuted){#
	    			<span class="listTag-light right">Muted</span>
	    		#}#
	    		
	    		<div class="chatType left">
		    		# if(isPrivate && members.length <= 2){#
		    			<img src="images/private-icon.svg" /> Private Chat
		    		#} else if (false) {# // For place chats
		    			<img src="images/place-icon.svg" id="chatList-place-icon" class="icon-sm" /> Place Chat
		    		#} else {#
		    			<img src="images/group-icon.svg" class="icon-sm" /> Group Chat
		    		#}#
	    		</div>

	    	</div><!-- chat-mainBox -->
    	</a>
   </div>
</script>

<div data-role="view" id="channel" data-layout="main" data-model="currentChannelModel" data-show="channelView.onShow" data-init="channelView.onInit"  data-hide="channelView.onHide" data-transition="slide">
	<div data-role="header">
		<div data-role="navbar" id="channelNavBar">
			<a data-align="left" data-role="button" href="#:back" id="channel-back-button">
				<img src="images/nav-back.svg" />
			</a>
			<img src="" id="channelImage" height="32" class="circle-img"/>
			<span id="channelName"></span>
			<a data-align="right" data-role="button" id="messagePresenceButton" data-rel="drawer" href="#channelPresence">
				<img src="images/group-icon.svg" />
			</a>
		</div>

	</div>
	<div id="privacyStatus" class="hidden">Ghost Mode On</div>
	<div id="privacyScreen">
		<ul id="messages-listview"></ul>
	</div>

	<div data-role="footer" style="display: block; background: #fff; padding-left: 2px;"  id="messageEditor" style="min-height: 48px; max-height: 60%;">
		<div id="chatImagePreview" style="margin: 8px; ">
			<img id="chatImage" src="" />
		</div>
		<div class="messageCompose">
			<span class="helper" id="ghostgramMode" style="display: none">ghostgram editor</span>
			<textarea id="messageTextArea" rows="1" autofocus="true" wrap="soft" spellcheck="true" placeholder="Message..."></textarea>
			<div class="messageMediaBar" id="editorOptionBar" style="display: none">
				<ul>
					<li>
						<a class="btnBar" data-role="button" data-click="channelView.toggleTool" data-tool="bold">
							<img src="images/icon-bold.svg" class="icon-bar" />
						</a>
					</li>
					<li>
						<a class="btnBar" data-role="button" data-click="channelView.toggleTool" data-tool="italic">
							<img src="images/icon-italic.svg" class="icon-bar" />
						</a>
					</li>
					<li>
						<a class="btnBar" data-role="button" data-click="channelView.toggleTool" data-tool="underline">
							<img src="images/icon-underline.svg" class="icon-bar" />
						</a>
					</li>
					<li>
						<a class="btnBar" data-role="button" data-click="channelView.toggleTool" data-tool="insertUnorderedList">
							<img src="images/icon-list.svg" class="icon-bar" />
						</a>
					</li>
					<li>
						<a class="btnBar" data-role="button" data-click="channelView.toggleTool" data-tool="indent">
							<img src="images/icon-indent.svg" class="icon-bar" />
						</a>
					</li>
					<li>
						<a class="btnBar" data-role="button" data-click="channelView.toggleTool" data-tool="outdent">
							<img src="images/icon-outdent.svg" class="icon-bar" />
						</a>
					</li>
				</ul>
				<div class="lineArrow"></div>
			</div>
			<div class="messageMediaBar">
				<ul>
					<li>
						<a data-role="button" data-click="channelView.messageCamera">
							<img src="images/chat-camera.svg" height="24">
						</a>
					</li>
					<li>
						<a data-role="button" data-rel="actionsheet" href="#galleryActions">
							<img src="images/chat-photo.svg" height="24">
						</a>
					</li>
					<li>
						<a data-role="button" data-click="channelView.messageAudio">
							<img src="images/chat-sound.svg" height="24">
						</a>
					</li>
					<li >
						<a data-role="button" data-badge="0" data-click="channelView.ghostgram" id="chat-editorBtn">
							<img src="images/icon-editor.svg" height="20" id="chat-editorBtnImg"/>
						</a>
					</li>
					<li class="hidden">
						<a data-role="button" data-click="channelView.messageLocation">
							<img src="images/chat-places.svg" height="24">
						</a>
					</li>
					<li>
						<a data-role="button" data-rel="actionsheet" href="#newMessageActions">
							<img src="images/chat-smart.svg" height="24">
						</a>
					</li>
					<li class="hidden">
						<a data-role="button" data-click="channelView.togglePrivacyMode" id="privacyMode">
							<img src="images/privacy-off.svg" height="24"/>
						</a>
					</li>
					<li class="right">
						<a data-role="button" class="btnClear" id="messageSend" data-click="channelView.messageSend">Send</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<ul data-role="actionsheet" id="newMessageActions" data-popup='{"direction": "left"}'>
		<li><a data-action="channelView.messageCalendar"> Add Calendar</a></li>
		<li><a data-action="channelView.messageMovie"> Add Movie</a></li>
		<li><a data-action="channelView.messageEvent"> Add Event</a></li>
		<li><a data-action="channelView.messageMusic"> Add Music</a></li>
	</ul>

	<ul data-role="actionsheet" id="galleryActions" data-popup='{"direction": "left"}'>
		<li><a data-action="channelView.messagePhoto"> Phone Gallery</a></li>
		<li><a data-action="channelView.messageGallery"> Memories Gallery</a></li>
	</ul>

	<ul data-role="actionsheet" id="messageActions" data-popup='{"direction": "left"}'>
		<li><a data-action="channelView.archiveMessage"><img src="images/icon-memories.svg" class="icon-sm" /> Remember Message</a></li>
		<li><a data-action="channelView.smartScanMessage"> Smart Scan Message</a></li>
		<!--<li><a data-action="channelView.messageEraser"><i class="fa fa-eraser"> </i> Erase Message</a></li>-->
	</ul>

</div>

<div data-role="view" data-title='Add Chat' id="addChannel" style="display: none;" data-init="addChannelView.onInit" data-show="addChannelView.onShow" data-hide="addChannelView.onHide"
	 class="appearance" data-transition="overlay:up">
	<div data-role="header">
		<div data-role="navbar">
			<span data-role="view-title"></span>
			<a data-role="button" href="#:back" data-align="right">
				<img src="images/close.svg" />
			</a>
		</div>
	</div>
	<div id="addChatNoContacts" class="hidden">
		<p class="helper"><img src="images/help.svg" /> Chat members must be existing contacts. You don't have any ghostgrams contacts yet. </p>
		<a class="btnClear" data-role="button" href="#contacts">Go to ghostgram contacts</a>
	</div>
	<div id="addChatHasContacts">
		<div id="chat-title-setup">
			<span id="chat-title-step1"></span>
			<span class="right">
				<a id="editChatName" data-click="addChannelView.addChatStep1" data-role="button">edit</a>
			</span>
		</div>
		<form id="addChat-step1">
			<h3>
				<img src="images/flag.svg" id="start-chat-img"/> Create a New Chat
			</h3>
			<p>Chat with friends and family around shared interests.</p>

			<ul data-role="listview" data-style="inset" id="channel-addChannel-list">
				<li>
					<input type="search" id="channels-addChannel-name" placeholder="What's the topic?" value="" required />

					<input type="search" style="display: none" id="channels-addChannel-description" value="" placeholder="Description"/>
					<a class="btnClear-grey" data-role="button" data-click="addChannelView.showChatDescription" id="addChatDescription">Add description</a>
				</li>
				<li >
					<label>Save messages for
						<div class="select-md">
							<select id="channels-addChannel-archive">
								<option value="1">1 Day</option>
								<option value="7">7 Days</option>
								<option value="30" selected>30 Days</option>
							</select>
						</div>
					</label>
				</li>
				<li>
					<p class="right">
						<a id="addChat-createBtn" class="btnClear" data-click="addChannelView.addChannel" type="button" data-role="button">Next - Invite friends</a>
					</p>
				</li>
				<li class="hidden">
					<div class="line"></div>
					<label>Optional
						<div class="chatOption-event">
							<img class="chatOptionImg" src="images/event.svg" />
							<a class="btnClear-grey" data-role="button" data-click="addChannelView.doShowEventInputs" id="addChatEvent">Add Event info</a>
						</div>

					</label>
				</li>
				<li>
					<label class="addChannelEvent hidden">Place (Location for event)
						<div class="select">
							<select id="channels-addChannel-place">
								<option value="0">None - Virtual Event</option>
							</select>
						</div>
					</label>
					<label class="addChannelEvent hidden">Date (Date of the event)
						<input type="date" id="channels-addChannel-eventDate"  />
					</label>
				</li>
			</ul>
		</form>


		<div class="footerBk" data-role="footer" id="addChat-helper-1">
			<div class="helperBox" id="addChat-helper1" >
				<p class="helper"><img src="images/help.svg" /> Looking for 1-on-1 private chat?</p>
				<a class="btnClear" data-role="button" href="#contacts">Go to ghostgram contacts</a>
			</div>
		</div>
	</div>
</div>

<!-- Edit chat -->
<div data-role="view" id="editChannel" data-model="editChannelView._activeChannel" style="display: none;" data-show="editChannelView.onShow"  data-init="editChannelView.onInit" class="appearance">
	<div data-role="header">
		<div data-role="navbar">
			<span> Edit Chat </span>
			<a data-role="button" href="#channels" data-align="left">
				<img src="images/nav-back.svg" />
			</a>
		</div>
	</div>

	<div>
		<form>
			<input type="search" id="channels-editChannel-name" data-bind="value: name"  placeholder="Chat name"/>
			<input type="search" id="channels-editChannel-description" data-bind="value: description" placeholder="Add optional description"/>

		</form>
		<div>
			<div class="pad">
				<img src="images/edit-chat.svg" /> Chat Members
			</div>
			<div>
				<ul class="list-inline" id="editmembers-listview"></ul>
			</div>
		</div>
	</div>
	<div class="footerBk" data-role="footer">
		<a class="actionBtn secondary-100" data-role="button" href="#channelMembers">
			<p class="actionBtn-text">Add members</p>
			<img src="images/nav-add-white.svg"/>
		</a>
		<a class="btnSpan-btm btnPrimary" data-click="editChannelView.finalizeEdit" type="button" data-role="button">	Save
		</a>
	</div>
</div>


<script type="text/x-kendo-tmpl" id="messagesTemplate">

	# var history='', contactData = channelView.getContactData(sender), formattedTime = 'Just now';
	if (channelView.privacyMode) {
		if (fromHistory !== undefined && fromHistory === true ) {
			history = "privateMode"; }
	}
	if (time !== undefined && time !== null) {
		formattedTime = timeSince(time);
		if(formattedTime === "0s"){
			formattedTime = "Just now";
		} else {
			formattedTime = formattedTime + " ago";
		}
	}
	#
	<div id=#:msgID# class="chat-message #=history# clearfix">
	#

		var name = "Me";
		var photoUrl = '';
		sender = contactData.uuid;
		name = contactData.name;
		var alias = contactData.alias;
		photoUrl = contactData.photoUrl;
		var displayName = ux.returnUXPrimaryName(name, alias);
		var messageClass = "chat-message-text";
	#
	# if(userModel.currentUser.useLargeView){#
		# var messageClass = "userLgFontSize chat-message-text"; #
	#}#

	# if (channelView.privacyMode) {
			if (fromHistory !== undefined && fromHistory === true ) {
				history = "privateMode"; }
	}#
	<div id=#:msgID# class="chat-message #=history# clearfix">
		<div class="chat-details">
			# if(contactData.isContact){#
				<span class="chat-sender">#: displayName #</span>
			#} else {#
				<span class="chat-sender">Me</span>
			#}#
			<span class="chat-time">#:formattedTime# </span>
			<div class="clearfix"></div>
		</div>

		<div class="chat-message-user-img">
			# if(photoUrl !== '') {#
				<img class="chat-message-profileImg circle-img-sm" src="#: photoUrl #" alt="" />
			#} else {#
				<img class="chat-message-profileImg circle-img-sm" src="images/ghost-blue.svg" alt="" />
			#}#
		</div>
		# if (content !== "") {#
			# if (contactData.isContact ) {#
				<div class="chat-message-receiver chat-message-content  clearfix">
					<div class="#= messageClass #">#= content #</div>
				</div>
			#} else {#
				<div class="chat-message-sender chat-message-content">
					<div class="#= messageClass #">
						#= content #
					</div>
				</div>
			#}#
			<div class="clearfix"></div>
		#}#
		# if (data !== null && data.photo !== undefined && data.photo.thumb !== undefined) {#
				<div class="chat-photo-box">
					<img class="chat-message-photo" src="#:data.photo.thumb #" alt="" >
				</div>
		#}#
			<div class="clearfix"></div>
	</div>
</script>

<div data-role="drawer" id="channelPresence"  data-position="right" data-init="channelPresence.onInit" data-show="channelPresence.onShow" data-swipeToOpen="false" data-views='["channel"]' style="width: 80%;">
	<div data-role="header">
		<div data-role="navbar">
			<a data-align="left" data-role="button" data-click="channelPresence.onDone">
				<img src="images/close.svg" />
			</a>
			<span>Members</span> <span class="badge primary-200" id="occupancyCount">1</span>
		</div>

	</div>
	<ul id="channelPresence-listview" ></ul>
</div>

<!-- edit chat members -->
<div data-role="view" id="channelMembers" data-layout="main" data-title="Invite" data-init="channelMembersView.doInit" data-show="channelMembersView.doShow" data-transition="overlay:up">

	<div class="addedChatMember" style="display: none"></div>
	<ul id="channelMembers-listview"></ul>
	<div class="footerBk" data-role="footer">
		<a class="btnSpan-btm btnSecondary" type="button" data-role="button" href="#editChannel?updateMembers=true">Done</a>
	</div>
</div>

<script type="text/x-kendo-template" id="memberTemplate">
	<div>
		<div class="memberTempPhoto left">
			<img src="#: data.photo #" class="circle-img-md" />
		</div>
		<div class="memberTempName left">

			#if (data.alias !== '' && data.name !== data.alias && data.phoneVerified){#
			<h4 class="textClamp">
				#: data.alias #
				<img class="user-status-icon" src="images/user-verified.svg" />
				<span class="contacts-alias-sm">#: data.name #</span>
			</h4>
			#} else if(data.alias !== '' && data.name !== data.alias) {#
			<h4 class="textClamp">
				#: data.alias #
				<span class="contacts-alias-sm">#: data.name #</span>
			</h4>
			#} else {#
			<h4 class="textClamp">#: data.name #</h4>
			#}#
		</div>

	</div>
</script>

<script type="text/x-kendo-template" id="chatMemberTemplate">
	# if(!data.isPresent){#
	<div class="gone">
		#}else {#
		<div style="clear: both;">
			#}#
			<div class="memberTempPhoto left">
				<img src="#: data.photo #" class="circle-img-md" />
			</div>
			<div class="memberTempName left">
				<h4 class="textClamp">#: data.name #</h4>
			</div>
		</div>
</script>

<script type="text/x-kendo-template" id="editMembersTemplate">

	<div class="editMemberBox" data-id="#: data.uuid #">
		<div class="editMemberPhoto">
			<img class="circle-img-md editChatImg" src="#: data.photo #"  />
		</div>
		<div class="editMemberName">
			#if (data.alias !== '' && data.name !== data.alias && data.phoneVerified){#
			<h4 class="textClamp">
				#: data.alias #
				<img class="user-status-icon" src="images/user-verified.svg" />
				<span class="contacts-alias-sm">#: data.name #</span>
			</h4>
			#} else if(data.alias !== '' && data.name !== data.alias) {#
			<h4 class="textClamp">
				#: data.alias #
				<span class="contacts-alias-sm">#: data.name #</span>
			</h4>
			#} else {#
			<h4 class="textClamp">#: data.name #</h4>
			#}#
		</div>

		<div class="deleteMemberText">
			<a class="btnClear-red deleteChannelMember" data-role="button" data-id="#: data.uuid#" data-click="editChannelView.deleteMemberBtn">
				<img src="images/trash.svg" class="icon" />
			</a>
		</div>
	</div>
</script>




