 <div data-role="view" id="channels" data-title="Chats" data-layout="main" data-model="APP.models.channels" data-init="onInitChannels">  
     <div data-role="header">
        <div data-role="navbar">
            <img src="images/ghost.svg" id="nav-ghost" height="25"/>
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img src="images/menu-icon.svg"/></a>
           <a data-align="right" data-role="button" href="#addChannel"> <i class="ghostIconNavbar fa fa-plus"></i> </a>
        </div>
    </div>
     <div class="ghostContainer" style="padding-top: 12px; padding-bottom: 24px;">
         <ul id="channels-listview"></ul>
     </div>
     
    <ul data-role="actionsheet" id="channelActions" data-popup='{"direction": "left"}'>
        <li><a data-action="eraseChannel">Erase Chat Content</a></li>
        <li><a data-action="archiveChannel">Archive Chat </a></li>
        <li><a data-action="deleteChannel">Delete Chat</a></li>
    </ul>
	 
	  <ul data-role="actionsheet" id="channelActionsOwner" data-popup='{"direction": "left"}'>
        <li><a data-action="editChannel">Edit Chat</a></li>
        <li><a data-action="eraseChannel">Erase Chat Content</a></li>
        <li><a data-action="archiveChannel">Archive Chat </a></li>
        <li><a data-action="deleteChannel">Delete Chat</a></li>
    </ul>
	 
	 <ul data-role="actionsheet" id="channelActionsPrivate" data-popup='{"direction": "left"}'>
	    <li><a data-action="eraseChannel">Erase Chat Content</a></li>
        <li><a data-action="deleteChannel">Delete Chat</a></li>
    </ul>
    
</div>

<script type="text/x-kendo-tmpl" id="channels-listview-template">
    <div  style="clear:both;">
	  # var actionSheet = "channelActions"; if ( isOwner ) { actionSheet = "channelActionsOwner"; } if (isPrivate ) { actionSheet = "channelActionsPrivate"; } #
       <div style="float:right; font-size: 10px;"> <a data-rel="actionsheet" href="\\##:actionSheet#" data-actionsheet-context="#:channelId#" data-role="button"><i class="ghostIcon fa fa-cog"></i></a> </div>
       <div class="ghostTextLarge">  #if (isPrivate) {# <i class="ghostIconNavbar fa fa-user-secret"> </i> #} else { # <i class="ghostIconNavbar fa fa-users"> </i> #}# <a data-rel='view' href="\\#channel?channel=#:channelId#"> #:name# </a></div>
       <div class="ghostDescription" style="padding-top: 8px; padding-bottom: 4px;"> #: description # </div>
        <div style="color: \\#2e2e2e;">
           <span style="float: left;"> 
           # if (media) { # All Media # } else { # Text # }#,  # if (archive) { # Archived # } else { # Not Archived # }#
           </span>

          <span style="float:right;"> 0 new Messages</span>
        </div>
    </div>
</script>
 

<div data-role="view"  data-title='Add Chat' id="addChannel" style="display: none;"  data-init="onShowAddChannel" class="appearance">
   <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="ghostIconNavbar fa fa-bars"></i></a>
            <a data-align="right" data-role="button"  data-rel="drawer" href="#channelMembers" > <i class="ghostIconNavbar fa fa-users"></i> </a>
        </div>
    </div>

     <form>
        <ul data-role="listview" data-style="inset">
            <li>
                <label>Name
                    <input type="text" id="channels-addChannel-name" value="" required />
                </label>
            </li>
             <li>
                <label>Description
                    <input type="text" id="channels-addChannel-description" value="" />
                </label>
			</li> 
             <li>
               <label>Media
                    <select id="channels-addChannel-media">
                        <option value="false">No: users can just text</option>
                        <option value="true">Yes: users can share media</option>
                    </select>
                </label>
            </li>
              <li>
               <label>Archive
                    <select id="channels-addChannel-archive">
                        <option value="false">No: Nothing is saved</option>
                        <option value="true">Yes: Content can be saved</option>
                    </select>
                </label>
            </li>
        </ul>
    </form> 
	
    <div data-role="footer">
        <div data-role="navbar">
			<a data-role="button" href="#:back"  data-align="left">Cancel</a>
            <a data-click="addChannel" type="button" data-role="button" data-align="right">Create Channel</a>
        </div>
    </div>
</div>


<div data-role="view" id="editChannel" data-model="APP.models.channels.currentChannel" style="display: none;" data-show="onShowEditChannel"  data-init="onInitEditChannel" class="appearance">
    <div data-role="header">
        <div data-role="navbar">
			<a data-click="finalizeEditChannel" type="button" data-role="button" data-align="left" >Done</a>
            <span> Edit Chat</span>
             <a data-align="right" data-role="button"  data-rel="drawer" href="#channelMembers" > <i class="ghostIconNavbar fa fa-users"></i> </a>
        </div>
    </div>

	<div class="ghostContent">
		 <form>
			<ul data-role="listview" data-style="inset">
				<li>
					<label>Name
						<input type="text" id="channels-editChannel-name" data-bind="value: name"  />
					</label>
				</li>
				 <li>
					<label>Description
						<input type="text" id="channels-editChannel-description" data-bind="value: description" />
					</label>
				</li>
				 <li>
				   <label>Media
						<select id="channels-editChannel-media" data-bind="value: media">
							<option value="false">No: users can just text</option>
							<option value="true">Yes: users can share media</option>
						</select>
					</label>
				</li>
				 <li>
				   <label>Archive
						<select id="channels-editChannel-archive" data-bind="value: media">
							<option value="false">No: Nothing is saved</option>
							<option value="true">Yes: Content can be saved</option>
						</select>
					</label>
				</li>
			</ul>
		</form> 

		<div style="padding-left: 16px; padding-right: 16px; padding-bottom: 12px;">
			<div style="background: #fff; padding-bottom: 12px; padding-top: 2px;">
				<div class="ghostLabel" style="padding-left: 6px;" >
					Members
				</div>
				<div >
					<ul class="ghostMemberUl" id="editChannelMemberList">

					</ul>

				</div>
			</div>
		</div>
	</div>	
	
  
</div>


 <div data-role="view" id="channel" data-layout="main" data-model="APP.models.channel" data-show="onShowChannel" data-init="onInitChannel">  
     <div data-role="header">
        <div data-role="navbar" id="channelNavBar">
             <img src="" id="channelImage" height="32" style="vertical-align: middle; border-radius: 50%"/>
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img src="images/menu-icon.svg"/></a>
            <a data-align="right" data-role="button" id="messagePresenceButton" data-rel="drawer" href="#channelPresence" > <i class="ghostIconNavbar fa fa-users"></i> </a>
        </div>
    </div>
	 
     <div style="padding-bottom: 12px;">
         <ul id="messages-listview"></ul>
     </div>
     
	 <div data-role="footer" style="display: block; background: #fff; padding-left: 2px;"  id="messageEditor" style="min-height: 48px;" >
		 <div id="chatImagePreview" style="margin: 8px; width: 95%; height: auto; ">
			 <form id="chatImageForm" style="display:none;">
				  <input id="chatImageInput"></input>
			 </form>
			<img id="chatImage" src="" style="max-width: 100%; max-height: 100%; text-align: center; vertical-align: middle;"> </img>
		 </div>
		 <div class="messageCompose">
			<textarea id="messageTextArea" rows="2" autofocus="true" wrap="soft" spellcheck="true" placeholder="Message..."></textarea>
			 <div style="font-size: 14px; float:right;">
				 <a data-role="button" id="messageSend">Send</a>
			 </div>
             <div class="messageMediaBar">
             	<ul>
                    <li><a data-role="button" data-click="messageCamera"><img src="images/chat-camera.svg" height="24"></a></li>
                    <li><a data-role="button" data-click="messagePhoto"><img src="images/chat-photo.svg" height="24"></a></li>
                    <li><a data-role="button" data-click="messageAudio"><img src="images/chat-sound.svg" height="24"></a></li>
                    <li><a data-role="button" data-click="messageLocation"><img src="images/chat-places.svg" height="24"></a></li>
                    <li><a data-role="button" data-rel="actionsheet" href="#newMessageActions"><img src="images/chat-smart.svg" height="24"></a></li>
                 </ul>
             </div>
		  </div>
	 </div>
	 
    <ul data-role="actionsheet" id="newMessageActions" data-popup='{"direction": "left"}'>
<!--	<li><a data-action="messagePhoto"><i class="fa fa-file-image-o"> </i> Add Photo</a></li>
		<li><a data-action="messageAudio"><i class="fa fa-microphone"> </i> Add Audio</a></li>
		<li><a data-action="messageLocation"><i class="fa fa-map-marker"> </i> Add Location</a></li>
-->
		<li><a data-action="messageCalendar"><i class="fa fa-calendar"> </i> Add Calendar</a></li>
		<li><a data-action="messageMovie"><i class="fa fa-film"> </i> Add Movie</a></li>
		<li><a data-action="messageEvent"><i class="fa fa-ticket"> </i> Add Event</a></li>
		<li><a data-action="messageMusic"><i class="fa fa-music"> </i> Add Music</a></li>
    </ul>
	 
	  <ul data-role="actionsheet" id="sendMessageActions" data-popup='{"direction": "left"}'>
	    <li><a data-action="smartScanMessage"><i class="fa fa-magic"> </i> Smart Scan Message</a></li>
        <li><a data-action="messageEraser"><i class="fa fa-eraser"> </i> Erase Message</a></li>
    </ul>
	  <ul data-role="actionsheet" id="messageActions" data-popup='{"direction": "left"}'>
		<li><a data-action="archiveMessage"><i class="fa fa-archive"> </i> Archive Message</a></li>
		<li><a data-action="smartScanMessage"><i class="fa fa-magic"> </i> Smart Scan Message</a></li>
        <li><a data-action="messageEraser"><i class="fa fa-eraser"> </i> Erase Message</a></li>
    </ul>
    
</div>

<script type="text/x-kendo-tmpl" id="messagesTemplate">
# var history='';  if (fromHistory !== undefined && fromHistory === true && APP.models.channel.currentModel.isPrivate) {history = "privateMode"; } #
<div id=#:msgID# class="chat-message #=history# clearfix">
	# var formattedTime = timeSince(time); var name = "Me"; var photoUrl = ''; if (sender === APP.models.channel.currentContactUUID) { name =  APP.models.channel.currentContactModel.alias; photoUrl = APP.models.channel.currentContactModel.photo; }  #
	 <div class="chat-time"> #:formattedTime# ago </div> 
	# if(photoUrl !== '') { #<img src="#:photoUrl#" alt="" width="36" height="36">
	<div class="chat-message-content clearfix">
		<h5>#=name#</h5>
		<p>#= formattedContent #</p>
	</div>
	 #} else {#
	 <div class="chat-message-user-content clearfix">
		<p>#= formattedContent #</p>
	</div>
	 #}#
	<a href="\\#" data-role="button" class="delete" >Delete</a>
	<a href="\\#" data-role="button" class="archive" >Archive</a>
</div> 
</script>

<script type="text/x-kendo-template" id="memberTemplate">      
    <div style="height: 56px; clear: both;">
        <img style="width: 48px; height: auto; max-height: 48px; over-flow: hidden; float:left; margin: 0px 8px 8px 0px;" src="#:data.photo#">
        <div style="clear: both:">
          <span class="ghostTextLarge"> #: data.alias # </span>         
        </div>
        <div class="ghostText">
          <span class="ghostTiny">(#: data.name #)</span>   
        </div>
        <div style="float: right; color:\\#2e2e2e; font-size: 11px;">
            #if (data.contactUUID === undefined || data.contactUUID === null || data.contactUUID === '') { # <em> New User - Invite! </em> # } else {#  <strong> Verified User </strong> #} #
        <div>
    </div>
</script>

<div data-role="drawer" id="channelMembers" style="width: 240px" data-title="Members" data-position='right' data-swipe-to-open="false" data-init="doInitChannelMembers" data-show="doShowChannelMembers" data-views="['editChannel', 'addChannel']">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
			<a data-click="addChannelMember" type="button" data-role="button" data-align="right" ><i class="fa fa-plus"></i></a>
        </div>
    </header>

	
    <ul id="channelMembers-listview">
		
    </ul>
</div>

<div data-role="drawer" id="channelPresence" style="width: 240px" data-title="Presence" data-swipe-to-open="false" data-position='right' data-init="doInitChannelPresence" data-show="doShowChannelPresence" data-views="['channel']">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </header>

	
    <ul id="channelPresence-listview">
		
    </ul>
</div>