 <div data-role="view" id="channels" data-title="Chats" data-layout="main" data-model="APP.models.channels" data-init="onInitChannels" data-before-show="setActionBtnHeight">
     <div>
         <ul id="channels-listview"></ul>
     </div>
     	
    <ul data-role="actionsheet" id="channelActions" data-popup='{"direction": "left"}'>
        <li><a data-action="eraseChannel">Erase Chat Content</a></li>
        <li><a data-action="archiveChannel">Archive Chat </a></li>
        <li><a data-action="deleteChannel">Delete Chat</a></li>
    </ul>
	 
	  <ul data-role="actionsheet" id="channelActionsOwner" data-popup='{"direction": "left"}'>
        <li><a data-action="editChannel">Edit Chat</a></li>
        <li><a data-action="eraseChannel">Erase Chat Content</a></li>
        <li><a data-action="archiveChannel">Archive Chat </a></li>
        <li><a data-action="deleteChannel">Delete Chat</a></li>
    </ul>
	 
	 <ul data-role="actionsheet" id="channelActionsPrivate" data-popup='{"direction": "left"}'>
	    <li><a data-action="eraseChannel">Erase Chat Content</a></li>
        <li><a data-action="deleteChannel">Delete Chat</a></li>
    </ul>
   
</div>

<script type="text/x-kendo-tmpl" id="channels-listview-template">
    <div>
    	<div class="chat-options">
    		<div>
    			<ul class="chat-option-ul">
    				# if (isPrivate){#
    					<li>
		    				<a class="btnClear-red" data-channel="#:channelId #" data-role="button" id="chat-option-delete" data-click="deleteChannel">
		    					<img src="images/trash.svg" />
		    					<p class="chat-option-selection"> Delete</p>
		    				</a>
	    				</li>
	    				<li>
		    				<a class="btnClear-grey" data-role="button" id="chat-option-clear" data-click="eraseChannel">
			    				<img src="images/option-clear.svg" id="chat-option-clearBtn"/>
			    				<p class="chat-option-selection">Clear</p>
			    			</a>
	    				</li>
    				#} else {#
    					<li>
		    				<a class="btnClear-red" data-role="button" id="chat-option-delete" data-click="deleteChannel" data-channel="#:channelId #">
		    					<img src="images/trash.svg" />
		    					<p class="chat-option-selection"> Delete</p>
		    				</a>
	    				</li>
	    				<li>
		    				<a class="btnClear-grey" data-role="button" id="chat-option-clear" data-click="eraseChannel">
			    				<img src="images/option-clear.svg" id="chat-option-clearBtn"/>
			    				<p class="chat-option-selection">Clear</p>
			    			</a>
	    				</li>
	    				<li>
		    				<a class="btnClear-grey" data-role="button" id="chat-option-archive" data-click="archiveChannel">
			    				<img src="images/option-archive.svg" />
			    				<p class="chat-option-selection">Archive</p>
			    			</a>
	    				</li>
	    				
    				#}#
    				# if(isPrivate !== true && isOwner){#
    						<li>
			    				<a class="btnClear-grey" data-role="button" id="chat-option-edit" data-click="editChannel" data-channel="#:channelId #">
				    				<img src="images/option-edit.svg" />
				    				<p class="chat-option-selection">Edit</p>
				    			</a>
	    					</li>
    					#}#
    				
    			</ul>
    		</div>
    	</div><!-- chat-options -->
    	#if (isPrivate){#
    		<div class="chat-mainBox private">
    	#} else {#
    		<div class="chat-mainBox">
    	#}#
    	
    		<h4>
    		<span><img src="images/status-new.svg" class="list-status" /></span>
        		 #:name# 
        		<span class="chatActivityTime">1 hr ago</span>
    		</h4>
    		
    		# if(isPrivate && members.length <= 2){#
    			<img src="images/private-icon.svg" /> Private Chat
    		#} else if (false) {# // For place chats
    			<img src="images/place-icon.svg" id="chatList-place-icon" /> Place Chat
    		#} else {#
    			<img src="images/group-icon.svg" /> Group Chat
    		#}#

 
    	</div><!-- chat-mainBox -->
    	
   </div>
</script>
 

<div data-role="view" data-title='Add Chat' id="addChannel" style="display: none;" data-init="onShowAddChannel" class="appearance" data-transition="overlay:up">
   <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#:back" data-click="resetAddChatUI" data-align="right">
            	<img src="images/close.svg" />
            </a>
            <a class="hidden" data-align="right" data-role="button"  data-rel="drawer" href="#channelMembers"> <i class="ghostIconNavbar fa fa-users"></i> </a>
        </div>
    </div>
    <div id="chat-title-setup">
    	<span id="chat-title-step1"></span>
    	<span class="right">
    		<a id="editChatName" data-click="addChatStep1" data-role="button">edit</a>
    	</span>
    </div>
     <form id="addChat-step1">
     	<h3>
     		<img src="images/flag.svg" id="start-chat-img"/> Create a New Chat
     	</h3>
     	<p>Chat with friends and family around shared interests.</p>
		
        <ul data-role="listview" data-style="inset" id="channel-addChannel-list">
            <li>         	
                <input type="search" id="channels-addChannel-name" placeholder="What's the topic?" value="" required />
                
                <input type="search" style="display: none" id="channels-addChannel-description" value="" placeholder="Description"/>
                <a class="btnClear-grey" data-role="button" data-click="showChatDescription" id="addChatDescription">Add description</a>
            </li>
			<li >
               <label>Save messages for
               	<div class="select-md">
                    <select id="channels-addChannel-archive">
                        <option value="1">24 hrs</option>
                        <option value="7">7 Days</option>
						<option value="30">30 Days</option>
                    </select>
                </div>
                </label>
            </li>
            <li>
            	<p class="right">
		        	<a id="addChat-createBtn" class="btnClear" data-click="addChannel" type="button" data-role="button">Next - Invite friends</a>
		        </p>
            </li>
            <li class="hidden">
            	<div class="line"></div>
            	<label>Optional
            		<div class="chatOption-event">
            			<img class="chatOptionImg" src="images/event.svg" />
            			<a class="btnClear-grey" data-role="button" data-click="doShowEventInputs" id="addChatEvent">Add Event info</a>
            		</div>

            	</label>
            </li>
			<li>
				<label class="addChannelEvent hidden">Place (Location for event)
					<div class="select">
						<select id="channels-addChannel-place">
							<option value="0">None - Virtual Event</option>
						</select>
					</div>
				</label>
				<label class="addChannelEvent hidden">Date (Date of the event)
					<input type="date" id="channels-addChannel-eventDate"  />
				</label>
			</li>
        </ul>		  
    </form>
   
	
	<div class="footerBk" data-role="footer" id="addChat-helper-1">
 		<div class="helperBox" id="addChat-helper1" >
			<p class="helper"><img src="images/help.svg" /> Looking for 1-on-1 private chat?</p>
			<a class="btnClear" data-role="button" href="views/contacts.html">Go to ghostgram contacts</a>
		</div>	
	</div>
 
</div>

<!-- Edit chat -->
<div data-role="view" id="editChannel" data-model="APP.models.channels.currentChannel" style="display: none;" data-show="onShowEditChannel"  data-init="onInitEditChannel" class="appearance">
    <div data-role="header">
        <div data-role="navbar">
            <span> Edit Chat </span>
            <a data-role="button" href="#:back" data-align="left">
            	<img src="images/nav-back.svg" />
            </a>
        </div>
    </div>

	<div>
		 <form>
			<input type="search" id="channels-editChannel-name" data-bind="value: name"  />
			<input type="search" id="channels-editChannel-description" data-bind="value: description" placeholder="Add optional description"/>
			
		</form> 
		<div>
			<div class="pad">
				<img src="images/edit-chat.svg" /> Chat Members
				<span class="right">
					<a class="btnClear" data-role="button" data-click="toggleListTrash;" id="listTrash">Edit</a>
					<a class="btnClear" data-role="button" data-click="toggleListDone;" id="listDone">Done</a>
				</span>
			</div>
			<div class="addChatMembersBanner">
				<a class="btnClear-sm" data-role="button" href="#channelMembers">+ add new members</a>
			</div>
			<div>
				<ul class="list-inline" id="editChannelMemberList"></ul>
			</div>	
		</div>
	</div>	  
	<div class="footerBk" data-role="footer">
            <a class="btnSpan-btm btnPrimary" data-click="finalizeEditChannel" type="button" data-role="button">Save</a>
    	</div>
</div>

<div data-role="view" id="channel" data-layout="main" data-model="APP.models.channel" data-show="onShowChannel" data-init="onInitChannel" data-transition="slide">
     <div data-role="header">
        <div data-role="navbar" id="channelNavBar">
        	<a data-align="left" data-role="button" href="#:back"> 
            	<img src="images/nav-back.svg" />
            </a>
            <img src="" id="channelImage" height="32" style="vertical-align: middle; border-radius: 50%"/>
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" id="messagePresenceButton" data-rel="drawer" href="#channelPresence"> 
            	<img src="images/group-icon.svg" />
            </a>
        </div>
         
    </div>
	 <div id="privacyStatus" class="hidden">Ghost Mode On</div>
     <div class="appBox" style="padding-bottom: 24px;">
         <ul id="messages-listview"></ul>
     </div>
     
	 <div data-role="footer" style="display: block; background: #fff; padding-left: 2px;"  id="messageEditor" style="min-height: 48px; max-height: 60%;">
		 <div id="chatImagePreview" style="margin: 8px; ">
			 <form id="chatImageForm" style="display:none;">
				  <input type="search" id="chatImageInput" />
			 </form>
			<img id="chatImage" src="" style="max-width: 100%; max-height: 100%; text-align: center; vertical-align: middle;" />
		 </div>
		 <div class="messageCompose">
			<textarea id="messageTextArea" rows="1" autofocus="true" wrap="soft" spellcheck="true" placeholder="Message..."></textarea>
			 <div class="right">
				 <a data-role="button" id="messageSend">Send</a>
			 </div>
             <div class="messageMediaBar">
             	<ul>
                    <li><a data-role="button" data-click="messageCamera"><img src="images/chat-camera.svg" height="24"></a></li>
                    <li><a data-role="button" data-rel="actionsheet" href="#galleryActions"><img src="images/chat-photo.svg" height="24"></a></li>
                    <li><a data-role="button" data-click="messageAudio"><img src="images/chat-sound.svg" height="24"></a></li>
                    <li class="hidden"><a data-role="button" data-click="messageLocation"><img src="images/chat-places.svg" height="24"></a></li>
                    <li><a data-role="button" data-rel="actionsheet" href="#newMessageActions"><img src="images/chat-smart.svg" height="24"></a></li>
                    <li><a data-role="button" data-click="togglePrivacyMode" id="privacyMode"><img src="images/privacy-off.svg" height="24"/></a></li>
                 </ul>
             </div>
		  </div>
	 </div>
	 
    <ul data-role="actionsheet" id="newMessageActions" data-popup='{"direction": "left"}'>
		<li><a data-action="messageCalendar"><i class="fa fa-calendar"> </i> Add Calendar</a></li>
		<li><a data-action="messageMovie"><i class="fa fa-film"> </i> Add Movie</a></li>
		<li><a data-action="messageEvent"><i class="fa fa-ticket"> </i> Add Event</a></li>
		<li><a data-action="messageMusic"><i class="fa fa-music"> </i> Add Music</a></li>
    </ul>
	 
	<ul data-role="actionsheet" id="galleryActions" data-popup='{"direction": "left"}'>
	    <li><a data-action="messagePhoto"><i class="fa fa-phone"> </i> Phone Gallery</a></li>
        <li><a data-action="messageGallery"><i class="fa fa-th-large"> </i> ghostgrams Gallery</a></li>
     </ul>

	  <ul data-role="actionsheet" id="messageActions" data-popup='{"direction": "left"}'>
		<li><a data-action="archiveMessage"><i class="fa fa-archive"> </i> Archive Message</a></li>
		<li><a data-action="smartScanMessage"><i class="fa fa-magic"> </i> Smart Scan Message</a></li>
        <li><a data-action="messageEraser"><i class="fa fa-eraser"> </i> Erase Message</a></li>
    </ul>
    
</div>

<script type="text/x-kendo-tmpl" id="messagesTemplate">
	# var history='';  
		if (APP.models.channel.currentModel.privacyMode) { 
			if (fromHistory !== undefined && fromHistory === true ) {
				history = "privateMode"; }
		}#
	<div id=#:msgID# class="chat-message #=history# clearfix">
	# 	var formattedTime = timeSince(time); 
		var name = "Me"; 
		var photoUrl = ''; 
		if (sender === APP.models.channel.currentContactUUID) { 
			name =  APP.models.channel.currentContactModel.alias; 
			photoUrl = APP.models.channel.currentContactModel.photo; 
		}  
	#
	 <div class="chat-time"> #:formattedTime# ago </div> 
	# if(photoUrl !== '') { #
		<img class="chat-message-profileImg" src="#:photoUrl#" alt="" width="36" height="36">
		<div class="chat-message-content clearfix">
		<h5>#=name#</h5>
		<div class="chat-message-text">#= formattedContent #</div>

		#if (data !== null && data.photo !== undefined && data.photo.thumb !== undefined) {# <div data-role="touch" data-hold="chatPhotoHold" data-tap="chatPhotoTap"> <img class="chat-message-photo-small" src="#:data.photo.thumb#" alt="" > </div> #}#
	</div>
	 #} else {#
	 	<div class="chat-message-user-content clearfix">
		<div class="chat-message-text">#= formattedContent #</div>
		#if (data !== null && data.photo !== undefined && data.photo.thumb !== undefined) {# <img class="chat-message-photo-small" src="#:data.photo.thumb#" alt="" > #}#
	</div>
	 #}#
	<a href="\\#" data-role="button" class="delete" >Delete</a>
	<a href="\\#" data-role="button" class="archive" >Archive</a>
</div> 
</script>


<!-- edit chat members -->
<div data-role="view" id="channelMembers" data-layout="main" data-title="Invite" data-init="doInitChannelMembers" data-show="doShowChannelMembers" data-transition="overlay:up">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" href="views/contacts.html#contactImport">Import Contact</a>
            <a data-role="button" data-align="left"><img src="images/nav-back.svg"/></a>
        </div>
    </header>
    <div class="addedChatMember" style="display: none"></div>
    <ul id="channelMembers-listview"></ul>
    <div class="footerBk" data-role="footer">
            <a class="btnSpan-btm btnSecondary" type="button" data-role="backbutton">Done</a>
    	</div>
</div>

<script type="text/x-kendo-template" id="memberTemplate">      
    <div>
    	<div class="left">
    	<img src="#: data.photo #" class="circle-img-md" />
    	</div>
    	<div class="left">
    		
    		#if (data.alias !== '' && data.name !== data.alias && data.phoneVerified){#
    			<h4>
    				#: data.alias #
    				<img class="user-status-icon" src="images/user-verified.svg" />
    				<span class="contacts-alias-sm">#: data.name #</span>
    			</h4>
    		#} else if(data.alias !== '' && data.name !== data.alias) {#
    			<h4>
    				#: data.alias #
    				<span class="contacts-alias-sm">#: data.name #</span>
    			</h4>
    		#} else {#
    			<h4>#: data.name #</h4>
    		#}#
    	</div>
            
     </div>
</script>

<div data-role="drawer" id="channelPresence" style="width: 240px" data-swipe-to-open="false" data-position='right' data-init="doInitChannelPresence" data-show="doShowChannelPresence" data-views="['channel']">
    <div class="menuBox">
    	<ul id="channelPresence-listview"></ul>
    </div>
	
    
</div>


