 <div data-role="view" id="channel"  data-layout="main" data-model="APP.models.channel" data-show="onShowChannel" data-init="onInitChannel">  
     <div data-role="header">
        <div data-role="navbar" id="channelNavBar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><i class="ghostIconNavbar fa fa-bars"></i></a>
           <a data-align="right" data-role="button"  data-rel="actionsheet" href="#messageActions"> <i class="ghostIconNavbar fa fa-cog"></i> </a>
        </div>
    </div>
	 
	 <div id="messageHeader">
		 
	 </div>
	 
     <div class="ghostContainer" style="padding-top: 12px;">
         <ul id="messages-listview"></ul>
     </div>
     
	 <div data-role="footer" class="ghostContainer" id="messageEditor" style="min-height: 48px;" >
		 <div style=" font-size: 1.4em;">
			 <div style="text-align: center;"> <i class="fa fa-map-marker"> </i> <i class="fa fa-calendar"> </i> <i class="fa fa-camera"> </i> <i class="fa fa-microphone"> </i> <i class="fa fa-video-camera"> </i> </div> 
		</div>
	 	<div style="display: inline-block; color: #e2e2e2; font-size: 1.4em; ">
			 <div style="vertical-align: middle;">
				 <i class="fa fa-unlock"> </i>
			 </div> 
		 </div>
		 <div style="display: inline-block; width: 80%;">
				 <textarea id="messageTextArea" onkeyup="AutoGrowTextArea(this)" rows=1 autofocus=true wrap=soft spellcheck= true style="width: 100%; font-size: 1.0em;"></textarea>
		 </div>
		 <div style="display: inline-block; color: #e2e2e2; font-size: 1.4em;">
			 <div style="vertical-align: middle;">
				 <i class="fa fa-paper-plane-o"> </i>
			 </div> 
		 </div>
	 </div>
	 
    <ul data-role="actionsheet" id="messageActions" data-popup='{"direction": "left"}'>
        <li><a data-action="addMessagePhoto">Add Photo</a></li>
		<li><a data-action="addMessageLocation">Add Location</a></li>
        <li><a data-action="archiveMessage">Archive Message</a></li>
        <li><a data-action="eraseMessage">Erase Message</a></li>
        <li><a data-action="archiveChannel">Archive Channel</a></li>
        <li><a data-action="eraseChannel">Erase Channel </a></li>
        
    </ul>
    
</div>