<div data-role="view" data-title="Contacts" id="contacts" data-layout="main" data-model="APP.models.contacts" data-before-show="beforeShowFilter" data-init="doInitContacts">
        
    <div class="user-content">
        <div style="padding-top: 12px; padding-buttom: 18px; text-align: right;">
            <a color: #fff; class="button ghostButton" data-rel="modalview" href="#modalview-contacts-AddContact" data-role="button">Add Contact</a>
        </div>
        <ul id="contact-listview"></ul>
    </div>
        
</div>

<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="contactsTemplate">
  <div style="border-top: 12px;">
  <div><span><strong> Name: </strong></span>#: data.name #</div>
  <div><span><strong> Phone: </strong></span>#: data.phone #</div>
  </div>
</script>