
<div data-role="view" data-title="Contacts" id="contacts" data-layout="main" data-model="APP.models.contacts" data-init="onInitContacts">
  <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" href="#contactImport" data-align="right" >Import</a>
        </div>
    </div>       
    <div class="ghostContainer">

        <ul id="contacts-listview"></ul>
        
    </div>
        
</div>


<div data-role="view" data-title="Import Contacts" id="contactImport" data-layout="main" data-model="APP.models.contacts" data-init="onInitContactImport">
      <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <a data-role="button" href="#contacts" data-align="right" >Contacts</a>
        </div>
    </div>    
    <div class="ghostContainer">
       <div style='padding-bottom: 16px;'>
         <input style="font-size: 16px; margin-left: 6px; width: 70%" id="contactSearchQuery" type="search"/> <a class="button ghostButton" data-role="button"  data-click="contactsFindContacts"> Find</a>
        </div>

        <ul id="contactimport-listview"></ul>
      
       
    </div>
        
</div>

<div data-role="view" data-model="APP.models.contacts" data-title="Add Contact" id="contacts-addContact" 
     data-layout="addcontacts"  data-before-show="doShowAddContacts" class="appearance">
     <div class="ghostContainer">
      <div style="padding: 12px;">  
      Please choose a <strong>phone number</strong> and an <strong>email address</strong> for this contact. </br>  
    You may also add a <strong>nickname</strong> for this user.
    </div>
    <form >
        <ul data-role="listview" data-style="inset" >
            <li>
                <label> Name
                    <input type="text" id="addContactName" />
                </label>
            </li>
            <li>
                <label> Nickname
                    <input type="text" id="addContactAlias" />
                </label>
            </li>
            <li>           
                <label>Phone
                    <select id="addContactPhone" data-role="dropdownlist" 
                            data-text-field="name" 
                            data-value-field="number"
                            data-bind="source: phoneDS"
                            auto-bind="false">
                    </select>
                </label>
            </li>
            <li>
                <label>Email
                     <select id="addContactEmail" data-role="dropdownlist"
                            data-text-field="name" 
                            data-value-field="address"
                            data-bind="source: emailDS"
                           auto-bind="false">
                       
                    </select>
                </label>
            </li>
        </ul>
    </form>
    </div>
</div>

<!-- this is the template used by the listview. template items are automatically
     wrapped in an <li> by Kendo UI Mobile -->
<script type="text/x-kendo-template" id="contactsTemplate">
  <div>
  <div ><span class="ghostTextLarge"> #: data.alias # </span>  <span style="float:right; vertical-align: middle;" class="ghostTiny">(#: data.name #)<span></div>
  </div>
</script>

<script type="text/x-kendo-template" id="deviceContactsTemplate">
  <div>
  <div class="ghostText">#: data.name # <a data-role="detailbutton" data-style="detaildisclose" ></a></div>
  </div>
</script>