
<div data-role="view" data-title="Contacts" id="contacts" data-layout="main" data-model="APP.models.contacts" data-init="onInitContacts" data-show="onShowContacts" data-hide="onHideContacts">
  <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img class="menuIcon" src="images/menu-icon.svg"/></a>
            <a data-role="button" data-click="contactSearchActivate" id="activateContactSearch" data-align="right" >
            	<img src="images/search-white.svg" />
            </a>
        </div>
    </div>

	<div id="searchContactDiv" >	
		<img src="images/search.svg" width="18" /> 
		<span><input id="contactSearchInput" class="clearable" type="text" /></span>
		
    </div>


	<div id="contactListDiv"  style="padding-bottom: 24px;">
        <ul id="contacts-listview"></ul>
		<!-- Only display if device permission is needed -->
		<div id="deviceContactPermission" class="pad center hidden">
			<a class="btnClear">
				<img src="images/import.svg" height="16" />
				Find contacts on device
			</a>
		</div>
    </div>
    
    <ul data-role="actionsheet" id="contactActions" data-popup='{"direction": "left"}'>
      
        <li><a data-action="inviteContact">Invite Contact</a></li>
       <li><a data-action="editContact">Edit Contact</a></li>
        <li><a data-action="contactSendSMS">Send SMS</a></li>
        <li><a data-action="contactCallPhone">Phone Call</a></li>
         <li><a data-action="contactSendEmail">Send Email</a></li>
        
    </ul> 
    
      <ul data-role="actionsheet" id="contactUserActions" data-popup='{"direction": "left"}'>
         <li><a data-action="editContact">Edit Contact</a></li>
        <li><a data-action="privateChat">Private Chat</a></li>
        <li><a data-action="contactSendSMS">Send SMS</a></li>
        <li><a data-action="contactCallPhone">Phone Call</a></li>
        <li><a data-action="contactSendEmail">Send Email</a></li>
    
    </ul> 
</div>


<div data-role="view" data-title="Import Contacts" id="contactImport" data-layout="main" data-model="APP.models.contacts" data-init="onInitContactImport">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img class="menuIcon" src="images/menu-icon.svg"/></a>
            <a data-role="button" href="#contacts" data-align="right" >Contacts</a>
        </div>
    </div>    
    <div  style="padding-bottom: 24px;">
       <div style="padding-bottom: 4px; padding-top: 4px;">
         <input class="clearable" style="font-size: 16px; margin-left: 6px; width: 80%" id="contactSearchQuery" type="search"/> 
         <a data-role="button"  data-click="contactsFindContacts">  
         	<i class="ghostIconSmall fa fa-search"></i>
         </a>
        </div>
        <ul id="contactimport-listview"></ul>
    </div>    
</div>

<div data-role="modalview" data-model="APP.models.contacts" data-title="Add Contact" id="modalview-AddContact" data-init="doShowAddContacts" class="appearance" style="width: 90%; min-height: 100%; display: none;">
    <div class="inviteContactImg">
    	<div class="inviteTop hidden">
    		<img src="images/invite.svg" height="16" />
    	</div>
    	<span class="right closeBox">
    		<a data-role="button" data-click="closeAddContact">
    			<img src="images/close.svg"/>
    		</a>
    	</span>
    	
    	<div class="topHalf">
    		<div class="topHalfLeft">
    			<img class="circle-img shadow" id="addContactPhoto" src="" />
    		</div>
    		<div class="topHalfRight">
    			<h3 id="addContactName"></h3>
    			<span class="caption">aka</span>
    			<a class="btnClear-sm" data-role="button" data-click="addNicknameBtn" id="addNicknameBtn"> add nickname </a>
    			<div class="hidden" id="contactNicknameInput">
                	<input class="input-sm" type="text" placeholder="nickname"/>
    			</div>
    		</div>
    	</div>
    	<div class="clearfix"></div>
    	<ul data-role="listview" data-style="inset" class="inviteContactInfo">
    		<li>           
                <label>Phone
                    <select id="addContactPhone" data-role="dropdownlist" 
                            data-text-field="number" 
                            data-value-field="number"
                            data-bind="source: phoneDS"
                            auto-bind="false">
                    </select>
                </label>
            </li>
            <li>
                <label>Email
                     <select id="addContactEmail" data-role="dropdownlist"
                            data-text-field="address" 
                            data-value-field="address"
                            data-bind="source: emailDS"
                           	auto-bind="false">
                    </select>
                </label>
            </li>
            <li>
                <label>Address
                     <select id="addContactAddress" data-role="dropdownlist"
                            data-text-field="address" 
                            data-value-field="address"
                            data-bind="source: addressDS"
                           	auto-bind="false">
                    </select>
                </label>
            </li>
    	</ul>
    	<a class="btnYellow btnSpan" data-role="button" data-click="contactsAddContact">Invite to ghostgrams</a>
    </div> 
</div>


<div data-role="view" data-model="APP.models.contacts.currentContact" data-title="Edit Contact" id="editContact" data-layout="main"  data-before-show="onShowEditContact" class="appearance">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-click="onDoneEditContact" data-align="left" >Done</a>         
        </div>
    </div> 
    <div class="ghostContent" style="padding-bottom: 12px;">
		<form >
			<ul data-role="listview" data-style="inset" >
				<li>
					<label> Name
						<input type="text" id="editContactName" data-bind="value: name"/>
					</label>
				</li>
				<li>
					<label> Nickname
						<input type="text" id="editContactAlias" data-bind="value: alias"/>
					</label>
				</li>
				 
				<li>           
					<label>Phone
						<input id="editContactPhone" type="phone" data-bind="value:phone">
						</input>
					</label>
				</li>
				<li>
					<label>Email
						 <input id="editContactEmail" type="email" data-bind="value: email">
						</input>
					</label>
				</li>
				 <li>
					<label>Address
						 <input id="editContactAddress" data-bind="value: address">
						</input>
					</label>
				</li>
			</ul>
		</form>
		</br>
		<div style="text-align: center; padding-top: 16px; padding-bottom: 16px;">
		 <a data-role="button"  data-click="deleteContact">  <i class="ghostIcon fa fa-trash-0"></i> Delete Contact</a>
		</div>
	</div>
</div>


<script type="text/x-kendo-template" id="contactsTemplate">      
    <div class="listBox">
	     <div>
			 <a data-role="button" class="slideGearButton ghostButton" style="display:none; float:right;">
			 	<i class="ghostIcon fa fa-cog"></i>
			 </a>
			 <div class="left listPhoto">
			 	<div class="statusContactList">
			 		<img class="circle-img-md" src="#:data.photo#" />  
		 			#if (data.isAvailable !== undefined && data.isAvailable) { #
		 				<img width="16" src="images/status-available.svg" class="statusContactList-icon" />
		 			# } 
		 			else { #
		 				<img width="16" src="images/status-away.svg" class="statusContactList-icon" />
		 			#}#
		 		</div>
			 </div><!-- left -->
			
			<div class="left listName">
				<h4>#: data.alias # </h4>
			  	<span class="ghostTextLarge hidden"> 
				  #if (data.contactUUID === undefined || data.contactUUID === null || data.contactUUID === '') { # <em> <i class="fa fa-user-times"></i> </em> # } 
				  else {#  
				  	<strong> <i class="fa fa-user-secret"></i> </strong> #} #
	 			</span>  
			</div><!-- left -->
			<p class="left caption">#: data.name #</p>  
			<div class="clearfix"></div> 
		 </div>
	</div>
</div><!-- listBox -->
</script>

<script type="text/x-kendo-template" id="deviceContactsTemplate">
  <div>
	  <div>
	  # if (data.name == '') {#
	  	<!-- only for simulator -->
	  	<h4>John Smith
	  		<span class="right">
	  			<a class="btnClearLine">Add</a>
	  		</span>
	  	</h4>
	  #} else {# 
	  		<h4>#:data.name #
	  		<span class="right">
	  			<a class="btnClearLine">Add</a>
	  		</span>
	  	</h4>
	  #}#  
	  </div>
  </div>
</script>

<div data-role="view" data-title="Contact" id="contact" data-layout="main" data-model="APP.models.contacts" data-init="onInitContact">
  <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img class="menuIcon" src="images/menu-icon.svg"/></a>
            <a data-role="button" href="#contactImport" data-align="right" ><i class="ghostIconNavbar fa fa-plus"></i> </a>
        </div>
    </div>       
    
    <div class="ghostContainer">
        <ul id="contacts-listview"></ul>  
    </div>
    
    
</div>