<div data-role="view" data-title="Gallery" id="gallery" data-layout="main" data-model="APP.models.gallery" data-init="onInitGallery" data-show="onShowGallery">
 	<div>
	 	<div id="search-archives">
			<input type="search" class="viewSearchBox" id="gallerySearch"  placeholder="Search all" />
			<div class="gallerySearchOptions">
				<div class="filters">
					<button class="all" data-role="button">
						<img src="images/gallery-all.svg" />
					</button>
					<button class="contacts" data-role="button">
						<img src="images/sentinel-contacts.svg" />
					</button>
					<button class="chats" data-role="button">
						<img src="images/sentinel-chats.svg" />
					</button>
					<button class="date" data-role="button">
						<img src="images/sentinel-date.svg" />
					</button>
					<button class="places" data-role="button">
						<img src="images/sentinel-places.svg" />
					</button>
				</div>
				
			</div>
			<ul data-role="buttongroup" data-index="0" id="galleryMenuSelect" data-select="gallerySelectCategory">
				<li>
					<img src="images/gallery-all.svg" />
					Archive
				</li>
				<li>
					<img src="images/gallery-photos.svg" />
					Photos
				</li>
			</ul>


			<ul class="tags">
				<!-- Test tags :)
				<li><img src="images/sentinel-contacts.svg" />Don<button></button></li>
				<li><img src="images/sentinel-chats.svg" />myplacez design<button></button></li>
				-->
			</ul>
		</div>
		
			<div id="galleryPhotoDisplayOpts">
				<ul data-role="buttongroup" data-index="0" class="km-small" data-select="selectGalleryZoom" id="galleryZoomSelect">
					<li>
						<img src="images/gallery-grid-3.svg" />
					</li>
					<li>
						<img src="images/gallery-grid-2.svg" />
					</li>
					<li> 
						<img src="images/gallery-grid-1.svg" />
					</li>
				</ul>
			</div><!-- galleryPhoto -->
		
		<div id="archive-list" data-role="scroller">
			<ul data-role="listview" data-source="archive.dataSource" data-template="archive-template" data-header-template="archive-header-template"></ul>
		</div>
		<!-- Photos -->
		<ul id="gallery-listview" class="list-inline" data-role="listview" data-click="galleryClick" data-source="APP.models.gallery.photosDS" data-template="gallery-template"></ul>
		<div id="archive-empty">Your archive is empty</div>
		<div id="archive-search-empty">Nothing found</div>
	</div>

</div>

<div data-role="drawer" id="galleryDrawer" style="width: 200px; height: 100%;" data-title="Gallery Options" data-position="right" data-views="['gallery']" data-swipe-to-open="false" style="display:none;" class="appearance">
 <div data-role="header">
        <div data-role="navbar">
            <span>Gallery Settings</span>
        </div>
    </div>
	<form style="clear:both; border-radius: 25px;">
	<ul data-role="listview" data-style="inset">
		<li>
			<label> Date
			   <select id="galleryDateSelect">
				   <option value="newest">Newest</option>
				   <option value="oldest">Oldest</option>
			  </select>
		  </label>
		</li>
		<li>
			<label> Chats
			   <select id="galleryChatSelect">
				   <option value="all">All</option>
			  </select>
		  </label>
		</li>
		
	 </ul>
	</form>
</div>




<div data-role="modalview" id="modalview-gallery-addPhoto" style="width: 90%; display: none;" class="appearance">
    <div data-role="header">
        <div data-role="navbar">
            <span>Add Photo</span>
        </div>
    </div>

   
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="closeModalViewAddPhoto" data-role="button" type="button" data-align="left">Cancel</a>
            <a data-click="galleryAddPhoto" type="button" data-role="button" data-align="right">Add Photo</a>
        </div>
    </div>
</div>

 <!-- galleryPicker template -->
 <script type="text/x-kendo-template" id="gallery-template">
     <div>
         <div class="galleryImgBox">
			# if (imageUrl !== undefined && imageUrl !== '') { #
             <img class="galleryImg" src="#=imageUrl#" />
			 # } else { #
			 <img class="galleryImg" src="#=thumbnailUrl#" />
			 # } #
         </div>
     </div>
 </script>

<script type="text/x-kendo-template" id="archive-header-template">
    <div>
    	<img class="archive-header-img" src="images/archive-#= value #.svg"> #: value #
    </div>
</script>

<script type="text/x-kendo-template" id="archive-template">
	<div class="card">
		# if (data.type === "Photos"){#
				<div class="photoTopDiv">
					<div class="photoSender">
						<div class="senderProfileImg">
							<img src="#= data.message.sender.image #" class="circle-img-md" />
						</div>
						<div class="senderMessage">
							<p class="chat-time"> #= moment(data.message.date).fromNow() #</p>
							<div class="chat-bubble"> #= data.message.text # </div>
						</div>
					</div>
					<img src="#= data.object.url #" />
					
				</div>
				
				<div class="clearfix"></div>
		#} else {#
			<div class="top">
				<button class="delete right hidden" data-role="button" data-click="archiveView.deleteDoc" data-id="#= data.id #">X</button>
				<div class="senderProfileImg">
					<img src="#= data.message.sender.image #" class="circle-img-md" />
				</div>
				<div class="senderMessage">
					<p class="chat-time"> #= moment(data.message.date).fromNow() #</p>
					<div class="chat-bubble"> #= data.message.text # </div>
					<p class="chat-details">Send in #: data.message.channelName #<a class="btnClear-grey-sm"></a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		#}#
		
		<div class="bottom">
			# if (data.type === 'Events') {# 
				<div class="event object">
					<h4>#= data.object.name #</h4>
					<p>#= data.object.placeName #</p> 
					<p>#= data.object.address #</p> 
					
					# if (data.object.start === data.object.end) { #
						<p>#= moment(data.object.start).format("MMM Do YYYY") #</p>
					#} else { #
						<p>#= moment(data.object.start).format("MMM Do") # - #= moment(data.object.end).format("MMM Do YYYY") #</p>
					#}#
					<div class="cardAction">
						<a class="btnClear">Action</a>
					<div>

				</div>
			#}#
			# if (data.type === 'Links') {# 
				<div class="link object" data-url="#= data.object.url #">
					<h4>#= data.object.title #</h4>
					<p>#= data.object.url #</p>
				</div>
				<div class="cardAction">
					<a class="btnClear">Action</a>
				<div>
			#}#
			# if (data.type === 'Photos') {# 
				<div class="photo object">
					<p>#= data.object.placeName #</p> 
					<p>#= data.object.address #</p>
				</div> 
				<div class="cardAction">
					<a class="btnClear">Action</a>
				<div>
			# } #
			# if (data.type === 'Chat') {#
				<div class="cardAction">
					<a class="btnClear">Action</a>
				<div>
			#}# 
		</div>
</div>
</script>