<div data-role="view" data-title="ghostgrams" id="home" data-layout="main" data-model="APP.models.home">
   <div id="home-intro">
       
    </div>
    <div id="home-account">
        <div id="home-signin">
             <div style='padding-top: 38px; padding-left:12px; font-size: 1.3em; text-align: center;'> Please Sign In</div>
            <form style="color: #2e2e2e;">
                <ul data-role="listview" data-style="inset">
                    <li>
                        <label>Username
                            <input type="text" value="" />
                        </label>
                    </li>
                    <li>
                        <label>Password
                        <input type="password" value="" />
                        </label>
                    </li>
                </ul>
            </form> 
            <div>
                <a style="width:98%; font-size: 1.2em;" class="button" id="home-signin" data-role="button">Sign In</a>
            </div>
            <hr style='clear:both;'>
            <div style='clear:both; padding-top: 12px; padding-left:12px; font-size: 1.2em; text-align:center;'>
                Don't have an Account? </br> Sign Up Now!
            </div>
            <div style='clear:both; padding-top: 12px;' >
                <a style="width:98%; font-size: 1.2em;" class="button" id="home-signup" data-role="button">Sign Up</a>
            </div>
          
             
        </div>
        </div>
    </div>
    <div id="home-status">
        
    </div>
</div>
