<div data-role="view" data-title="ghostgrams" id="home" data-layout="main" data-model="APP.models.home">
    <div id="scrollview-container">
    <div data-role="scrollview" data-page="0" id="intro-scrollView"  data-changing="introChanging"  data-change="introChanged">

        <div class="intro-photo" data-role="page" id="slide-1">
            <!--<img src="//winetaster-herokuapp-com.global.ssl.fastly.net/img/arrow-1-mobile.png" class="mobile-arrow-1 animated fadeIn">-->
            <div class="intro-photo-block">
                <h1 class="intro-photo-title">
                   Private
                </h1>
                <div class="intro-photo-text">
                    Be candid, express youself, enjoy the moment!
                </div>
            </div>
            <img src="//winetaster-herokuapp-com.global.ssl.fastly.net/img/arrow-2-mobile.png" class="mobile-arrow-2 animated fadeIn">
        </div>

        <div class="intro-photo" data-role="page" id="slide-2">

            <div class="intro-photo-block">
                <h1 class="intro-photo-title">
                    Secure
                </h1>
                <div class="intro-photo-text">
                    Forget about ease-droppers and hackers.  Take control of your digital life!
                </div>
            </div>
        </div>

        <div class="intro-photo" data-role="page" id="slide-3">
            <div class="intro-photo-block">
                <h1 class="intro-photo-title">
                    No Distractions
                </h1>
                <div class="intro-photo-text">
                   Focus on the people, places and interests that are important to you.
                </div>
            </div>
        </div>

        <div class="intro-photo " data-role="page" id="slide-4">
            <div class="intro-photo-block darkText">
                <h1 class="intro-photo-title">
                    Be Spontaneous
                </h1>
                <div class="banner-dark">
                    <div class="intro-photo-text">
                        Explore places and passions in the moment.
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>

