<div data-role="view" data-title="ghostgrams" id="home" data-layout="main" data-model="APP.models.home" class='appearance' data-before-show="homeBeforeShow">
   <div >
       <div  style='padding-top: 24px; padding-bottom: 28px; font-size: 24px; text-align: center; color: #aeaeae'> Personal, private, secure</div>
   </div>
    
    <div id="home-account">
         <div> 
            <a style="width:98%; font-size: 1.2em; color: #ffffff; font-weight: 600;" class="button"  data-click="homeSignout" data-role="button">Sign Out</a>
        </div>

    </div>
</div>





