 <div data-role="view" data-title="Places" id="places" data-layout="main" data-model="placesModel" data-show="placesView.onShow" data-init="placesView.onInit" data-before-hide="placesView.onHide">

    <div class="mapInfo">
    	<div class="topViewSearchBox">
	 		<div class="appendSearch">
				<span class="searchIcon"><img src="images/search.svg" /></span>
				<input class="doubleAppendSearch clearable" placeholder="Search my places" id="placeSearchQuery" />
			</div>
		</div>
           <div id="current-place" class="hidden">
           		<img src="images/icon-puff.svg" width="30" class="left"/>
           		<p class="left" id="current-place-name"></p>
           		<a class="btnClear whiteBtn right" data-role="button" id="checkoutBtn">
           			<img src="images/icon-checkout-light.svg" class="icon-btn"  /> Checkout</a>
           		<div class="clearfix"></div>
           </div>
	        <div id="placeListDiv">
	         	<ul id="places-listview"></ul>
		         <div class="emptyState hidden">
		         	<img src="images/empty-places.svg" />
		         </div>
		    </div>
	   
    </div>

    <ul data-role="actionsheet" id="placesActions" data-popup='{"direction": "left"}'>
        <li id="check-out"><a data-action="checkOut">Check Out</a></li>
        <li id="go-to-chat"><a data-action="goToChat">Go To Chat</a></li>
        <li><a data-action="doEditPlace">Edit Place</a></li>
        <li><a data-action="doDeletePlace">Delete Place</a></li>
    </ul>
</div>

<!-- Nearby Results -->
<div data-role="modalview" data-tile="Nearby Results" id="nearby-results" style="height:90%; width:90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Nearby Results</span>
            <a id="close-nearby-results" data-role="button" data-click="closeNearbyResults"><i class="fa fa-close"></i></a>
        </div>
    </div>

    <ul id="nearby-results-list"></ul>
</div>


<!-- Find Place -->
 <div data-role="view" data-title="Find Place" id="findPlace" data-layout="main"  data-show="findPlacesView.onShow" data-init="findPlacesView.onInit" data-before-hide="findPlacesView.onHide" data-transition="slide:up">
     <div data-role="header">
         <div data-role="navbar">
             <span data-role="view-title"></span>
             <a data-role="button" data-click="findPlacesView.onDone" data-align="left" >Done</a>
         </div>
    </div>
    <div class="topViewSearchBox">
	 		<div class="appendSearch">
				<span class="searchIcon"><img src="images/search.svg" /></span>
				<input class="doubleAppendSearch clearable" placeholder="Search my places" id="findPlaceSearchQuery" />
			</div>
	</div>
	<div>
		<ul id="findplace-listview"></ul>
	</div>
</div>



 <div data-role="modalview" id="modalview-checkIn" style="width: 90%; display: none;" class="appearance" data-before-open="onShowCheckIn">
     <div data-role="header">
         <div data-role="navbar">
             <span>Check In</span>
         </div>
     </div>


     <div data-role="footer">
         <div data-role="navbar">
             <a data-click="closeModalViewCheckIn" data-role="button" type="button" data-align="left">Cancel</a>
             <a data-click="doCheckIn" type="button" data-role="button" data-align="right">Check In</a>
         </div>
     </div>

 </div>


<div data-role="view" id="addPlace" data-title="Add Place" data-layout="main" data-model="addPlaceView._activePlace" class="appearance" data-init="addPlaceView.onInit" data-show="addPlaceView.onShow">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-click="addPlaceView.onDone" data-align="left">Done</a>
        </div>
    </div>
 	<form style="clear: both;">
        <ul data-role="listview" data-style="inset" >
            <li>
                <label> Name
                    <input type="text" data-bind="value: name" required />
                </label>
            </li>
            <li>
                <label> Alias
                    <input type="text" data-bind="value: alias" required />
                </label>
            </li>
            <li>
                <label> Address
                    <input type="text"  data-bind="value: address" required/>
                    <div style="padding-left: 8px; font-size: 12px;">
                        <span data-bind="html: city"></span>, <span data-bind="html: state"></span> &nbsp; <span data-bind="html: zipcode"></span>
                    </div>
                </label>
            </li>
            </ul>
            <ul data-role="buttongroup" id="addplace-typeBtns" data-select="editPlaceView.placeTypeSelect" data-index="0">
				<li id="placeTypePrivate">
					<p>Private Place</p>
					<img src="images/place-private-active.svg" class="placeIconImgBtn" id="placeTypePrivateImg"/>
					
				</li>
				<li id="placeTypePublic">
					<p>Public Place</p>
					<img src="images/place-public.svg" class="placeIconImgBtn" id="placeTypePublicImg" />
					
				</li>
			</ul>
    	</form>

    <div class="footer" data-role="footer">
    	<a class="btnClear btnFull-modal" data-click="addPlaceView.addPlace" data-role="button">Add Place</a>
    </div>
</div>


<div data-role="view" id="editPlace" data-title="Edit Place" data-model="editPlaceView._activePlace" class="appearance" data-layout="main" data-init="editPlaceView.onInit" data-show="editPlaceView.onShow" data-hide="editPlaceView.onHide" data-transition="slide:up">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>
    
     <form style="clear: both;">
         <ul data-role="listview" data-style="inset" >
             <li class="nameInput">
                 <label> Name </label>
                 <input type="text" data-bind="value: name" id="placeNameEdit" />
             </li>
             <li>
                 <label> Alias </label>
                 <input type="text" data-bind="value: alias" id="placeAliasEdit" />
             </li>
             <li>
                 <label> Address </label>
                 <input type="text" data-bind="value: address" required />
                 <div style="padding-left: 8px; font-size: 12px;">
                    <span data-bind="html: city"></span>, 
                    <span data-bind="html: state"></span> 
                    <span data-bind="html: zipcode"></span>
                 </div>
             </li>
         </ul>
     
  		<label>Place Type</label>
  		<ul data-role="buttongroup" id="placeTypeBtns" data-select="editPlaceView.placeTypeSelect" data-index="0" data-enable="false">
			<li id="placeTypePrivate">
				<p>Private Place</p>
				<img src="images/place-private-active.svg" class="placeIconImgBtn" id="placeTypePrivateImg"/>
				
			</li>
			<li id="placeTypePublic">
				<p>Public Place</p>
				<img src="images/place-public.svg" class="placeIconImgBtn" id="placeTypePublicImg" />
				
			</li>
		</ul>
		<div class="placeTypeInfo">
			<p class="helper hidden" id="publicPlaceHelper">
				<img src="images/icon-info.svg" class="icon-info" />
				Public places are visible for all users. Great for resturants and events!
			</p>
			<p class="helper" id="privatePlaceHelper">
				<img src="images/icon-info.svg" class="icon-info" />
				Private places are shared only with your contacts. Recommended for private residences and othe important places.
			</p>
				<div id="placeAutoCheckin" style="display: none;">
					<label>Auto Check-in </label><br />
	             	<a class="btnClearLine" data-role="button" >
	             		<img src="images/icon-autoCheckin.svg" class="icon-btn">
	             		Enable Auto Check-in here
	             	</a>
             	</div>
		</div>
		</form>
		<div class="footer" data-role="footer">
			<a class="btnSpan-btm btnPrimary" data-role="button" data-click="editPlaceView.update"> Done </a>
		</div>
</div>


 <script type="text/x-kendo-template" id="placesTemplate">
 	# var addressOnly = false; alias = data.alias; name = data.name; #
 	<div class="list-options">
			<a class="btnClear-grey" data-role="button" data-id="#: data.uuid #" data-click="placesView.editPlaceBtn">
				<img src="images/option-edit.svg" height="18" />
				<p class="chat-option-selection">Edit</p>
			</a>
			<a class="btnClear-red" data-role="button" >
				<img src="images/trash.svg" height="18" />
				<p class="chat-option-selection"> Delete</p>
			</a>
		    # console.log(data);#
    	</div>
     <div class="list-box">
     	# if(data.category === 'Location'){#
     		# if(data.alias !== "" && data.alias !== undefined){#
     			<h4 class="textClamp">#:data.alias#
     			<span class="helper-sm">#:data.name#</span>
     			</h4>
     		#} else {#
     			<h4 class="textClamp">#:data.address#</h4>
     			# addressOnly = true #
     			<p>#:data.city#, #:data.state# #:data.zipcode#</p>
     		#}#
     		
     	#} else {#
     		<h4 class="textClamp">#: data.name # 
     		# if (data.alias !== "" && data.alias !== undefined){#
     			<span class="helper-sm">#:data.alias#</span>
     		#}#
     		</h4>
     	#}#
     	# if(addressOnly !== true){#
     		<p>#:data.address#, #:data.city#, #:data.state# #:data.zipcode#</p>
     	#}#
         
         <p class="helper">
           <span class="left">
         # if (data.isPrivate === true) { #
            <img src="images/place-private.svg" /> Private
         # } else { #
            <img src="images/place-public.svg" /> Public
         # }#
           </span>
         </p>
         <div class="clearfix"> </div>

     </div>
 </script>

 <script type="text/x-kendo-template" id="findPlacesTemplate">
     # console.log(data) #
     <div>
         <h4 class="textClamp"> #: data.name # </h4>
         <p class="textClamp"> #: data.vicinity # </p>
         <p class="textClamp helper"><i>#: data.type # </i></p>
         <div class="clearfix"> </div>
     </div>
 </script>

 <script type="text/x-kendo-template" id="findPlacesHeaderTemplate">
 	# if(value === "Location"){#
 		Address
 	#} else {#
 		Near Me
 	#}#
 </script>

 <script type="text/x-kendo-template" id="geoPlacesTemplate">
     <div>
         <div>#: data.name # </div>
     </div>
 </script>