 <div data-role="view" data-title="Places" id="places" data-layout="main" data-model="APP.models.places" data-show="onShowPlaces" data-init="onInitPlaces">
   <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>	
    <div class="mapInfo">
         <div class="placesSearchBox">
             <input class="clearable" style="width: 85%;" id= "placeSearchQuery" type="text" placeholder="Search my places..."/>
             <a data-role="button"  data-click="goPlaceSearchQuery">
                 <i class="ghostIconSmall fa fa-search"></i>
             </a>
         </div>

         <div id="current-place">
            <h1>Checked-in to:</h1>
            <div></div>
         </div>

         <ul id="places-listview"></ul>
     </div>

     <ul data-role="actionsheet" id="placesActions" data-popup='{"direction": "left"}'>
         <li id="check-out"><a data-action="checkOut">Check Out</a></li>
         <li id="go-to-chat"><a data-action="goToChat">Go To Chat</a></li>
         <li><a data-action="doEditPlace">Edit Place</a></li>
         <li><a data-action="doDeletePlace">Delete Place</a></li>
     </ul>

     <div class="footerMenu" data-role="footer">
     		<a class="btnYellow footerBtn-nav" id="buttonOnLocateMe" data-role="button" data-click="onLocateMe">
		     	<img src="images/nav-places-white.svg" />
     		</a>
	  		<ul class="list-inline menuNav">
	  			<li>
	  				<a data-role="button" href="#home"><img src="images/nav-home.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/channels.html"><img src="images/nav-chat.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/contacts.html"><img src="images/nav-contact.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/places.html"><img src="images/nav-places-active.svg" /></a>
	  			</li>
	  			<li>
	  				<a data-role="button" href="views/archive.html"><img src="images/nav-archive.svg" /></a>
	  			</li>
	  		</ul>
	  </div>

 </div>

<!-- Nearby Results -->
<div data-role="modalview" data-tile="Nearby Results" id="nearby-results" data-layout="main" style="height:90%; width:90%;">
    <div data-role="header">
        <div data-role="navbar">
            <span>Nearby Results</span>
            <a id="close-nearby-results" data-role="button" data-click="closeNearbyResults"><i class="fa fa-close"></i></a>
        </div>
    </div>

    <ul id="nearby-results-list"></ul>
</div>

<!-- Locate Modal-->
<div data-role="modalview" style="width: 50%; display: none;" data-title="Locating" id="modalview-places-locate" data-layout="main" data-model="APP.models.places">
		<div class="locatingBox">
			<h4 class="helper">
				<img src="images/loading.svg" class="loading-sm"/> Locating...
			</h4>
			<img id="location-search" src="images/location-search.svg" />
		</div>
</div>

<!-- Locate View-->
<div data-role="view" data-title="Check in" id="places-checkIn" data-layout="main" data-before-show="doBeforePlaceCheckIn" data-init="onCheckInPlace" data-native-transition="slide" data-model="APP.models.places">
	<div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">
            	<img class="nav-menu" src="images/nav-back.svg"/>
            </a>
            <span data-role="view-title"></span>
        </div>
    </div>
		<div class="confirmPlaceLocation">
			<!-- replace map here -->
			<div class="places-map"></div>
			<div class="confirmPlaceAddress">
				<p>Current location
					<span class="right right-txt">
						<span class="helper">
							<img src="images/help.svg" />
							Not the right place?
						</span><br />
						<a class="btnClear-sm">
							See other places
						</a>
					</span>
				</p>
				<h4> 123 Main St</h4>
				<p><span>Los Angeles</span> <span>CA</span> <span>90001</span> </p>
				<br />
				<input type="checkbox" data-role="switch" data-checked="false" data-change="autoCheckInChange" id="autoCheckIn"/> <span id="autoCheckInText">Auto check-in when I'm here</span>
			</div>
		</div>
		<div data-role="footer">
            <a class="btnBlue btnSpan-btm" data-role="button" id="checkInHere" data-click="holdTest">
	     		<h3>Check in</h3>
	     		<p id="invisibleGhost"><img src="images/checkin-invisible.svg" /></p> 
     		</a>
    	</div>
</div>


<!-- Find Place -->
 <div data-role="view" data-title="Find Place" id="findplace" data-layout="main" data-model="APP.models.places" data-show="onShowFindPlace" data-before-open="onShowFindPlace" >
   <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" > 
            	<img src="images/menu-icon.svg"/>
            </a>
           <!--
           <a data-align="right" data-role="button"  data-rel="modalview" href="#modalview-places-addPlace"> <i class="ghostIconNavbar fa fa-plus"></i> </a>
           -->
        </div>
	   </div>
	    <div class="appBox">
		    <div style="padding-bottom: 4px; padding-top: 4px;">
	        	<input style="font-size: 16px; margin-left: 6px; width: 90%;" id="findPlaceSearchQuery" class="clearable" type="search"/>
		         <a class="btnClear" data-role="button" data-click="findPlace">  
		         	<i class="fa fa-search"></i> 
		         </a>
	        </div>
		     <div>
		           <ul id="findplace-listview"></ul>
		     </div>
		</div>
    </div>
</div>


 <div data-role="modalview" id="modalview-checkIn" style="width: 90%; display: none;" class="appearance" data-before-open="onShowCheckIn">
     <div data-role="header">
         <div data-role="navbar">
             <span>Check In</span>
         </div>
     </div>


     <div data-role="footer">
         <div data-role="navbar">
             <a data-click="closeModalViewCheckIn" data-role="button" type="button" data-align="left">Cancel</a>
             <a data-click="doCheckIn" type="button" data-role="button" data-align="right">Check In</a>
         </div>
     </div>

 </div>


<div data-role="modalview" id="modalview-addPlace" style="width: 90%; display: none;" class="appearance" data-before-open="onShowAddPlace">
    <div data-role="header">
        <div data-role="navbar">
            <span>Add New Place</span>
        </div>
    </div>
 	<form style="clear: both;">
        <ul data-role="listview" data-style="inset" >
            <li>
                <label> Name
                    <input type="text" id="addPlaceName" required />
                </label>
            </li>

            <li>
                <label> Address
                    <input type="text" id="addPlaceAddress" required/>
                </label>
            </li>
             <li>
                <label> Enable Privacy Mode (Default - you can change)
                    <select id="addPlacePrivacy">
                        <option value="true">Yes - It's a public place</option>
                        <option value="false">No - I have privacy here</option>
                    </select>
                </label>
            </li>
			
			<li>
                <label> Visible Here (Default - you can change)
                    <select id="addPlaceVisible">
                        <option value="true">Yes - Let people know I'm here</option>
                        <option value="false">No - Keep me hidden</option>
                    </select>
                </label>
            </li>
              
        </ul>
    </form>

   
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="closeModalViewAddPlace" data-role="button" type="button" data-align="left">Cancel</a>
            <a data-click="addPlaceAdd" type="button" data-role="button" data-align="right">Add Place</a>
        </div>
    </div>
</div>

<div data-role="view" id="editPlace" class="appearance" data-show="onShowEditPlace" data-hide="onHideEditPlace">
     <div data-role="header">
         <div data-role="navbar">
             <a data-role="backbutton" id="buttonEditPlace" data-align="left">Back</a>
             <span>Edit Place</span>
         </div>
     </div>

     <form style="clear: both;">
         <ul data-role="listview" data-style="inset" >
             <li>
                 <label> Name </label>
                 <input type="text" id="editPlaceName" required />
             </li>

             <li>
                 <label> Address </label>
                 <input type="text" id="editPlaceAddress" required /><span id="restOfAddress"></span>
             </li>
             <li>
                 <label> Available for call/chat ?</label>
                 <input type="checkbox" id="editPlaceIsAvailable" data-role="switch" />
             </li>

             <li>
                 <label> Visible to Others Here  </label>
                 <input type="checkbox" id="editPlaceIsVisible" data-role="switch" />
             </li>

             <li>
                 <label> Automatically Check In </label>
                 <input type="checkbox" id="editPlaceAuto" data-role="switch" />
             </li>

         </ul>
     </form>
    </div>


 <script type="text/x-kendo-template" id="placesTemplate">
     <div style="min-height: 38px; border-radius: 9px; background-color: \\#fff; padding: 4px;">
         # if (data.category === 'Place') { #
	         <h4>#: data.name # </h4>
	         <p>#: data.streetNumber # #: data.street #, #: data.city #, #: data.state # </p>
	         <p class="helper">
			   <span class="left">
			 # if (visible === true) { # 
			 	<img src="images/place-public.svg" /> Public
			 # } else { # 
			 	<img src="images/place-private.svg" /> Secret
             # }#
			   </span>
	         </p>
	         <div class="clearfix"> </div>
         # } else { #
            # if (data.name === '' || data.name === undefined) { #
                <div class="ghostText">#: data.streetNumber # #: data.street #, #: data.city #, #: data.state #</div>
            # } else { #
                <div class="ghostText">#: data.name # </div>
            # } #
         # } #
     </div>
 </script>

 <script type="text/x-kendo-template" id="nearby-results-template">
     <div style="min-height: 38px; border-radius: 9px; background-color: \\#fff; padding: 4px;">
         <h4>#: data.name # </h4>
         <p>#: data.vicinity # </p>
     </div>
 </script>

 <script type="text/x-kendo-template" id="geoPlacesTemplate">
     <div>
         <div class="ghostText">#: data.name # </div>
     </div>
 </script>