 <div data-role="view" data-title="Places" id="places" data-layout="main" data-model="APP.models.places" data-show="onShowPlaces" data-init="onInitPlaces">
   <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left"><img class="nav-menu" src="images/menu-icon.svg"/></a>
            <span data-role="view-title"></span>
            <a data-role="button" id="buttonOnLocateMe" data-click="onLocateMe" data-align="right"> <i class="ghostIconNavbar fa fa-map-marker"></i> </a>
        </div>
    </div>	
    <div class="mapInfo">
         <div class="placesSearchBox">
             <input class="clearable" style="width: 85%;" id= "placeSearchQuery" type="text" placeholder="Search my places..."/>
             <a data-role="button"  data-click="goPlaceSearchQuery">
                 <i class="ghostIconSmall fa fa-search"></i>
             </a>
         </div>

         <ul id="places-listview"></ul>
     </div>
     <div data-role="footer">
            <a class="btnBlue" id="place-checkIn-circle" data-role="button" data-rel="modalview" href="#modalview-places-locate" data-click="findplaceTest">
	     		<p class="circleBtn-text" id="place-checkin-text">check in</p>
	     		<img src="images/check-in.svg" />
     		</a>
    </div>

     <ul data-role="actionsheet" id="placesActions" data-popup='{"direction": "left"}'>
         <li><a data-action="doCheckInPlace">Check In</a></li>
         <li><a data-action="doEditPlace">Edit Place</a></li>
         <li><a data-action="doDeletePlace">Delete Place</a></li>
     </ul>
 </div>

<!-- Locate Modal-->
<div data-role="modalview" style="width: 50%; display: none;" data-title="Locating" id="modalview-places-locate" data-layout="main" data-init="onShowFindPlace" data-model="APP.models.places">
		<div class="locatingBox">
			<h4 class="helper">
				<img src="images/loading.svg" class="loading-sm"/> Locating...
			</h4>
			<img id="location-search" src="images/location-search.svg" />
		</div>
</div>

<!-- Locate View-->
<div data-role="view" data-title="Check in" id="places-checkIn" data-layout="main" data-init="onShowFindPlace" data-native-transition="slide" data-model="APP.models.places">
	<div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left">
            	<img class="nav-menu" src="images/nav-back.svg"/>
            </a>
            <span data-role="view-title"></span>
        </div>
    </div>
		<div class="confirmPlaceLocation">
			<!-- replace map here -->
			<div class="places-map"></div>
			<div class="confirmPlaceAddress">
				<p>Current location
					<span class="right right-txt">
						<span class="helper">
							<img src="images/help.svg" />
							Not the right place?
						</span><br />
						<a class="btnClear-sm">
							See other places
						</a>
					</span>
				</p>
				<h4> 123 Main St</h4>
				<p><span>Los Angeles</span> <span>CA</span> <span>90001</span> </p>
				<br />
				<input type="checkbox" data-role="switch" data-checked="false" data-change="autoCheckInChange" id="autoCheckIn"/> <span id="autoCheckInText">Auto check-in when I'm here</span>
			</div>
		</div>
		<div data-role="footer">
            <a class="btnYellow btnSpan-btm" data-role="button">
	     		Check in
     		</a>
    	</div>
</div>


<!-- Find Place -->
 <div data-role="view" data-title="Find Place" id="findplace" data-layout="main" data-model="APP.models.places" data-show="onShowFindPlace" data-before-open="onShowFindPlace" >
   <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" > 
            	<img src="images/menu-icon.svg"/>
            </a>
           <!--
           <a data-align="right" data-role="button"  data-rel="modalview" href="#modalview-places-addPlace"> <i class="ghostIconNavbar fa fa-plus"></i> </a>
           -->
        </div>
	   </div>
	    <div class="appBox">
		    <div style="padding-bottom: 4px; padding-top: 4px;">
	        	<input style="font-size: 16px; margin-left: 6px; width: 90%;" id="findPlaceSearchQuery" class="clearable" type="search"/>
		         <a class="btnClear" data-role="button" data-click="findPlace">  
		         	<i class="fa fa-search"></i> 
		         </a>
	        </div>
		     <div>
		           <ul id="findplace-listview"></ul>
		     </div>
		</div>
    </div>
</div>


 <div data-role="modalview" id="modalview-checkIn" style="width: 90%; display: none;" class="appearance" data-before-open="onShowCheckIn">
     <div data-role="header">
         <div data-role="navbar">
             <span>Check In</span>
         </div>
     </div>


     <div data-role="footer">
         <div data-role="navbar">
             <a data-click="closeModalViewCheckIn" data-role="button" type="button" data-align="left">Cancel</a>
             <a data-click="doCheckIn" type="button" data-role="button" data-align="right">Check In</a>
         </div>
     </div>

 </div>

<div data-role="modalview" id="modalview-addPlace" style="width: 90%; display: none;" class="appearance" data-before-open="onShowAddPlace">
    <div data-role="header">
        <div data-role="navbar">
            <span>Add New Place</span>
        </div>
    </div>
 	<form style="clear: both;">
        <ul data-role="listview" data-style="inset" >
            <li>
                <label> Name
                    <input type="text" id="addPlaceName" required />
                </label>
            </li>

            <li>
                <label> Address
                    <input type="text" id="addPlaceAddress" required/>
                </label>
            </li>
             <li>
                <label> Enable Privacy Mode (Default - you can change)
                    <select id="addPlacePrivacy">
                        <option value="true">Yes - It's a public place</option>
                        <option value="false">No - I have privacy here</option>
                    </select>
                </label>
            </li>
			
			<li>
                <label> Visible Here (Default - you can change)
                    <select id="addPlaceVisible">
                        <option value="true">Yes - Let people know I'm here</option>
                        <option value="false">No - Keep me hidden</option>
                    </select>
                </label>
            </li>
              
        </ul>
    </form>

   
    <div data-role="footer">
        <div data-role="navbar">
            <a data-click="closeModalViewAddPlace" data-role="button" type="button" data-align="left">Cancel</a>
            <a data-click="addPlaceAdd" type="button" data-role="button" data-align="right">Add Place</a>
        </div>
    </div>
</div>


 <div data-role="view" id="editPlace" style="display: none;" data-model="APP.models.places.currentPlace" class="appearance" data-show="onShowEditPlace">
     <div data-role="header">
         <div data-role="navbar">
             <a data-role="backbutton" id="bbuttonEditPlace" data-align="left" >Back</a>
             <span>Edit Place</span>
         </div>
     </div>

     <form style="clear: both;">
         <ul data-role="listview" data-style="inset" >
             <li>
                 <label> Name
                     <input type="text" id="editPlaceName" required data-bind="value: name" />
                 </label>
             </li>

             <li>
                 <label> Address
                     <input type="text" id="editPlaceAddress" required data-bind="value: address"/>
                 </label>
             </li>
             <li>
                 <label> Enable Privacy Mode (Screen is blurred)
                     <select id="editPlacePrivacy" data-bind="value: privacy">
                         <option value=true>Yes - It's a public place</option>
                         <option value=false>No - I have privacy here</option>
                     </select>
                 </label>
             </li>

             <li>
                 <label> Visible Here (Visible to others...)
                     <select id="editPlaceVisible" data-bind="value: visible">
                         <option value=true>Yes - Let people know I'm here</option>
                         <option value=false>No - Keep me hidden</option>
                     </select>
                 </label>
             </li>

         </ul>
     </form>



 </div>


 <script type="text/x-kendo-template" id="placesTemplate">
     <div style="min-height: 38px; border-radius: 9px; background-color: \\#fff; padding: 4px;">
         # if (data.category === 'Place') { #
	         <h4>#: data.name # </h4>
	         <p>#: data.address # </p>
	         <p class="helper">
			   <span class="left">
			 # if (visible === 'true') { # 
			 	<img src="images/place-public.svg" /> Public # } 
			 else { # 
			 	<img src="images/place-private.svg" /> Secret # }#
			   </span>
	         </p>
	         <div class="clearfix"> </div>
         # } else { #
            <div class="ghostText">#: data.name # </div>
            #: console.log(data) #
         # } #
     </div>
 </script>

 <script type="text/x-kendo-template" id="geoPlacesTemplate">
     <div>
         <div class="ghostText">#: data.formatted_address # </div>
     </div>
 </script>