 <div data-role="view" id="profile" data-title="Profile" data-layout="profileLayout" data-model="APP.models.profile" data-before-show="beforeShowFilter" class="appearance">
   <div class="ghostContainer">
       <div>
           <div style="font-size: 20px; padding-left: 13px; padding-top: 10px;"> <span id="profile-username" data-bind="text:username"></span></div>
       </div>
       <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label>Alias (How other users see you)
                    <input type="text" id="profile-alias" data-bind="value: alias" />
                    </label>
                </li>
                 <li>
                    <label>Contact email (if it's not your Username)
                    <input type="email" id="profile-email" data-bind="value: email" />
                    </label>
                </li>
                 <li>
                    <label>Mobile Phone 
                    <input type="tel" id="profile-phone" data-bind="value: phone" />
                    </label>
                </li>
                  <li>
                    <label>Device Id (udid) 
                    <input type="text" id="profile-udid" data-bind="value: udid" />
                    </label>
                </li>
            </ul>
        </form> 
        <div style="text-align: center;">
            <a  style="width:98%;" class="button ghostButton" data-click="profileUpdate" id="profile-Update" data-role="button" >Update</a>
        </div>
        <div style="text-align: center; padding-top: 12px;">
            <a  style="width:98%;" class="button ghostButton" data-click="profileChangePassword" id="profile-changePassword" data-role="button" >Change Password</a>
        </div>
       
     </div>
</div>