<div data-role="view" id="settings" data-title="Settings" data-layout="main" data-model="userModel" class="appearance" data-init="homeView.settingsOnInit">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#home" data-align="right">
            	<img class="menuIcon" src="images/close.svg"/>
            </a>
        </div>
    </div>
    <form>
		  <ul data-role="listview" data-style="inset">
		  		<li>
		  			<h3>Display</h3>
		  		</li>
		  		<li>
		  			<label>Increase Chat Font Size</label>
					<a class="btnClear right" data-role="button" data-click="homeView.settingRegFont">
						<img src="images/icon-font-sm.svg" class="icon" />
					</a>
					<a class="btnClear right" data-role="button" data-click="homeView.settingBigFont">
						<img src="images/icon-font-lg.svg" class="icon" />
					</a>	
		  		</li>
		  		<li>
		  			<div class="chat-message-sender">
			  			<div class="chat-message-text" id="sampleChatSize">
			  				Sample chat text size
			  			</div>
			  		</div>
		  		</li>
		  		<br />
		  		<li>
		  			<h3>
						Photos
					</h3>
		  		</li>
				 <li>
					<label>Use Retina Photos
						<input type="checkbox" id="settingsRetinaPhoto" data-role="switch" data-bind="checked: _user.isRetina"/>
					</label>
				</li>
				 <li>
					<label> Sync on WIFI Only
						<input type="checkbox" id="settingsWIFIOnly" data-role="switch" data-bind="checked: _user.isWIFIOnly" />
					</label>
				</li>
			  <li>
				  <label> Keep Original Photo
					  <input type="checkbox" id="settingsKeepPhoto" data-role="switch" data-bind="checked: _user.isPhotoStored" />
				  </label>
			  </li>
			  <li>
				  <label> Save to Phone Photo Album
					  <input type="checkbox" id="settingsSaveToAlbum" data-role="switch"  data-bind="checked: _user.saveToPhotoAlbum"/>
				  </label>
			  </li>
			<li>
				<h3>
					Development
				</h3>
			</li>
		
			<li>
				<label>Device Id (udid) <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-udid" data-bind="value: device.udid" readonly/>
				</label>
			</li>
			<li>
				<label>User Id (UUID) <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-uuid" data-bind="value: _user.userUUID" readonly/>
				</label>
			</li>
			<li>
				<label>App Version <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-version" data-bind="value: _user.appVersion" readonly/>
				</label>
			</li>
			<li>
				<label> Application Directory <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-appDirectory" data-bind="value: appDirectory" readonly/>
				</label>
			</li>
			<li>
				<label> Temporary Directory <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-tempDirectory" data-bind="value: tempDirectory" readonly/>
				</label>
			</li>	
		</form>
</div>















