<div data-role="view" data-title="Settings" data-layout="main" data-model="userModel" class="appearance">
    <div data-role="header">
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" href="#home" data-align="right">
            	<img class="menuIcon" src="images/close.svg"/>
            </a>
        </div>
    </div> 
		<h3>
			Photos
		</h3>
		<form style="border-radius: 25px;">
		  <ul data-role="listview" data-style="inset">
				 <li>
					<label>Use Retina Photos
						<input type="checkbox" id="settingsRetinaPhoto" data-role="switch" data-bind="checked: currentUser.isRetina"/>
					</label>
				</li>
				 <li>
					<label> Sync on WIFI Only
						<input type="checkbox" id="settingsWIFIOnly" data-role="switch" data-bind="checked: currentUser.isWIFIOnly" />
					</label>
				</li>
			  <li>
				  <label> Keep Original Photo
					  <input type="checkbox" id="settingsKeepPhoto" data-role="switch" data-bind="checked: currentUser.isPhotoStored" />
				  </label>
			  </li>
			  <li>
				  <label> Save to Phone Photo Album
					  <input type="checkbox" id="settingsSaveToAlbum" data-role="switch"  data-bind="checked: currentUser.savePhotoToAlbum"/>
				  </label>
			  </li>
			</ul>		
		</form>

		<h3>
			Development
		</h3>
	   	<form style="border-radius: 25px;">
		  <ul data-role="listview" data-style="inset">
				 <li>
					<label>Device Id (udid) <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-udid" data-bind="value: udid" readonly/>
					</label>
				</li>
				</li>
				  <li>
					<label>User Id (UUID) <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-uuid" data-bind="value: currentUser.userUUID" readonly/>
					</label>
				</li>
			   <li>
					<label>App Version <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-version" data-bind="value: version" readonly/>
					</label>
				</li>
				<li>
					<label> Application Directory <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-version" data-bind="value: appDirectory" readonly/>
					</label>
				</li>
				<li>
					<label> Temporary Directory <span class="helper helper-right"><i class="fa fa-lock"></i> Locked </span>
					<input type="text" id="profile-version" data-bind="value: tempDirectory" readonly/>
					</label>
				</li>
			</ul>		
		</form>
</div>















