/* PT Sans */
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans_regular_macroman/PTS55F-webfont.eot');
  src: url('../fonts/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'), url('../fonts/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'), url('../fonts/ptsans_regular_macroman/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans_bold_macroman/PTS75F-webfont.eot');
  src: url('../fonts/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'), url('../fonts/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'), url('../fonts/ptsans_bold_macroman/PTS75F-webfont.svg#pt_sansregular') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/ptsans_italic_macroman/PTS56F-webfont.eot');
  src: url('../fonts/ptsans_italic_macroman/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'), url('../fonts/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'), url('../fonts/ptsans_italic_macroman/PTS56F-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* Open Sans */
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
  src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansextrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
  src: url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansextrabold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot');
  src: url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/opensans_italic_macroman/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
/* Hind */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Hind/hind-v6-latin-regular.eot');
  src: local('Hind'), local('Hind-Regular'), url('../fonts/Hind/hind-v6-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind/hind-v6-latin-regular.woff2') format('woff2'), url('../fonts/Hind/hind-v6-latin-regular.woff') format('woff'), url('../fonts/Hind/hind-v6-latin-regular.ttf') format('truetype'), url('../fonts/Hind/hind-v6-latin-regular.svg#Hind') format('svg');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Hind/hind-v6-latin-600.eot');
  src: local('Hind SemiBold'), local('Hind-SemiBold'), url('../fonts/Hind/hind-v6-latin-600.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind/hind-v6-latin-600.woff2') format('woff2'), url('../fonts/Hind/hind-v6-latin-600.woff') format('woff'), url('../fonts/Hind/hind-v6-latin-600.ttf') format('truetype'), url('../fonts/Hind/hind-v6-latin-600.svg#Hind') format('svg');
}
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Hind/hind-v6-latin-700.eot');
  src: local('Hind Bold'), local('Hind-Bold'), url('../fonts/Hind/hind-v6-latin-700.eot?#iefix') format('embedded-opentype'), url('../fonts/Hind/hind-v6-latin-700.woff2') format('woff2'), url('../fonts/Hind/hind-v6-latin-700.woff') format('woff'), url('../fonts/Hind/hind-v6-latin-700.ttf') format('truetype'), url('../fonts/Hind/hind-v6-latin-700.svg#Hind') format('svg');
}
/* Ubuntu */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Ubuntu/ubuntu-v9-latin-regular.eot');
  src: local('Ubuntu'), url('../fonts/Ubuntu/ubuntu-v9-latin-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu/ubuntu-v9-latin-regular.woff2') format('woff2'), url('../fonts/Ubuntu/ubuntu-v9-latin-regular.woff') format('woff'), url('../fonts/Ubuntu/ubuntu-v9-latin-regular.ttf') format('truetype'), url('../fonts/Ubuntu/ubuntu-v9-latin-regular.svg#Ubuntu') format('svg');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Ubuntu/ubuntu-v9-latin-500.eot');
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('../fonts/Ubuntu/ubuntu-v9-latin-500.eot?#iefix') format('embedded-opentype'), url('../fonts/Ubuntu/ubuntu-v9-latin-500.woff2') format('woff2'), url('../fonts/Ubuntu/ubuntu-v9-latin-500.woff') format('woff'), url('../fonts/Ubuntu/ubuntu-v9-latin-500.ttf') format('truetype'), url('../fonts/Ubuntu/ubuntu-v9-latin-500.svg#Ubuntu') format('svg');
}
